{% set colorPalette = {
  'light': {
    'linkColor': 'cararra',
    'barColor': 'white',
  },
  'dark': {
    'linkColor': 'astronaut',
    'barColor': 'shark',
  },
} %}

<div class="container mx-auto text-sm pt-4 pb-3 pl-8 border-{{ colorPalette[colorScheme].barColor }} border-l-2 text-{{ colorPalette[colorScheme].barColor }}">
  <a class="text-{{ colorPalette[colorScheme].linkColor }}" href="/">Oakland</a> →
  {% for link in links %}
    <a class="text-{{ colorPalette[colorScheme].linkColor }}" href="{{ link.link }}">{{ link.title }}</a> →
  {% endfor %}
  <span class="font-bold">{{ title }}</span>
</div>