{% set sectionName = craft.app.request.getSegment(1) %}
{% paginate craft.calendar.events(eventOptions) as pageInfo, pageEntries %}
{% include '_partials/_elements/_pagination' %}
{% for entry in pageEntries %}
  {% include '_partials/_elements/_horizontal-cards' with {
  title: entry.title,
  url: entry.url,
  icon: 'calendar',
  photo: entry.eventImage.one,
  byline: entry.startDate.format("M d, Y"),
  body: entry.body | chop(limit=80, unit='w', append='…')
} %}
{% else %}
  <p class="my-8 text-2xl">
    Unfortunately, it looks like there aren’t any matching
    {{ sectionName }}
    to be seen here!
  </p>
  <p>
    <a href="/{{ sectionName }}">View all upcoming
      {{ sectionName }}</a>
  </p>
  <p>
    <a href="/{{ sectionName }}/archive">View all past
      {{ sectionName }}</a>
  </p>
{% endfor %}
{% include '_partials/_elements/_pagination' %}
