{% if bannerTitle is defined %}
  {% do seomatic.meta.seoTitle(bannerTitle) %}
{% else %}
  {% set bannerTitle = category.title ?? entry.title ?? '' %}
{% endif %}

{% if category is defined %}
  {% set bannerImage = bannerImage ?? "" %}
  {% set leadIn = category.summary %}
  {% set ctaButton = ctaButton ?? "" %}
{% elseif entry is defined %}
  {% set bannerImage = bannerImage ?? entry.banner ?? "" %}
  {% set leadIn = leadIn ?? entry.leadIn %}
  {% set ctaButton = ctaButton ?? entry.ctaButton %}
{% else %}
  {% set bannerImage = bannerImage ?? "" %}
  {% set leadIn = leadIn ?? "" %}
  {% set ctaButton = ctaButton ?? "" %}
{% endif %}

{# HEADER CONTENT #}
{%- set headerContent -%}
  <div class="flex flex-col flex-1 lg:flex-row">
    <div class="w-full lg:w-2/3">
      <h1 class="mb-0 text-3xl font-bold md:text-4xl">{{ bannerTitle }}</h1>
      {% include "_partials/_elements/_page-alerts.twig" %}
      {% if leadIn %}
        {% if leadInParagraph ?? "" %}
          {{ leadIn | replace({'<p' : '<p class="my-2 last:mb-0"', '<a': '<a class="font-bold text-green-800 hover:text-green-700"'}) | raw }}
        {% else %}
          <p class="mb-0 md:leading-normal">{{ leadIn | raw }}</p>
        {% endif %}
      {% endif %}
      <div class="flex space-x-4">
        {% if ctaButton | length %}
          {% set attributes = {
            class: 'btn py-2 mt-4 text-sm',
            "data-custom": 'custom-data-attribute'
          } %}
          {{ ctaButton.link(attributes) }}
        {% endif %}
        {% if entry is defined and entry.id == 34229 %}
          <a class="py-2 mt-4 text-sm btn" href="https://www.oaklandca.gov/documents/special-vacancy-notices">View Local Appointments List and Special Vacancy Notices</a>
        {% endif %}
      </div>
    </div>
    <div class="w-full lg:w-1/3 lg:pl-4">
      {{ headerSubContent ?? '' }}
    </div>
  </div>
{%- endset -%}

{%- set breadcrumbs -%}
<div class="relative flex flex-col items-start py-0 sm:justify-between sm:flex-row-reverse sm:items-center">
  {% include "_partials/_elements/_banner-google-translate.twig" with { paddingTop: "pt-0" } %}
  <div class="relative z-10 inline-block px-2 py-1 mt-4 text-xs text-green-800 bg-white rounded-sm shadow sm:mt-0 md:text-xs">
    <a class="text-green-800 hover:text-green-800 hover:underline" href="/">
      Oakland
    </a> →
    {% for link in breadCrumbLinks ?? '' %}
      <a class="text-green-800 hover:text-green-800 hover:underline" href="{{ link.link }}">{{ link.title }}</a> →
    {% endfor %}
    <span class="font-bold">{{ bannerTitle }}</span>
  </div>
</div>
{%- endset -%}

{% if bannerImage | length %}
  <div class="leading-normal aspect-ratio-box aspect-ratio-1/4 banner">
    <div class="object-cover pt-2 pb-8 leading-none aspect-ratio md:pt-4 md:pb-6 min-h-2-1/2 md:min-h-4">
      <figure class="absolute inset-0 z-0">
        <img
          class="absolute inset-0 z-0 object-cover w-full h-full"
          style="object-position:{{ bannerImage.position }};"
          src="{{ bannerImage.src }}"
          alt="{{ bannerImage.alt }}">
      </figure>
      <div class="container py-0">
        {{ breadcrumbs }}
      </div>
    </div>
  </div>
{% else %}
  <div class="leading-none banner">
    <div class="container pt-2 pb-8 md:pt-4 md:pb-6">
      <div class="absolute inset-0 z-0 bg-transparent-oakland-roots"></div>
      {{ breadcrumbs }}
    </div>
  </div>
{% endif %}
<div class="container relative sm:flex">
  {{ custHeaderContent ?? headerContent }}
</div>
