{% set bannerImage = bannerImage ?? entry.banner ?? '' %}
{% set bannerTitle = bannerTitle ?? entry.title ?? '' %}
{% set leadIn = leadIn ?? entry.leadIn ?? '' %}

<div class="banner leading-normal">
  <div class="container mx-auto px-8">
    {% if bannerImage | length %}
      <figure class="absolute bg-shark pin z-0">
        <img class="banner-image opacity-50 z-0 image-blur-{{ bannerImageBlur ?? 'none' }}" src="{{ bannerImage.one.url }}" style="object-position:{{ bannerImage.one.getFocalPoint('asCss') }};" alt="{{ bannerImage.one.title }}">
      </figure>
    {% endif %}
    {% if breadCrumbs is defined and breadCrumbs %}
      {% include '_partials/_elements/_breadcrumbs' with {
        title: bannerTitle,
        breadCrumbColorScheme: breadCrumbColorScheme ?? 'light',
        links: breadCrumbLinks ?? null
      } %}
    {% endif %}
  </div>
  <div class="relative container mx-auto p-8 py-16 z-10">
    <div class="sm:flex">
      {% if navMenu is defined %}
        <div class="hidden pr-8 w-1/6 sm:block">
          <ul class="list-reset text-sm">
            {% for key,value in navMenu %}
              {% if value %}
                <li class="my-2"><a class="text-white hover:text-white" href="#page-{{ fullNavMenu[key]['url'] }}">{{ fullNavMenu[key]['title'] }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <div class="flex-1">
        <h1 class="font-bold mb-0">{{ bannerTitle }}</h1>
        {% if leadIn %}
          <p class="mt-8 mb-0">{{ leadIn }}</p>
        {% endif %}
        {% if entry.ctaButton | length %}
          {% set attributes = {
              class: 'btn btn-bright px-8 py-2 mt-4 text-sm',
              "data-custom": 'custom-data-attribute'
          } %}
          {{ entry.ctaButton.link(attributes) }}
        {% endif %}
      </div>
    </div>
  </div>
</div>