{% set bannerImage = bannerImage ?? entry.banner ?? '' %}
{% set bannerTitle = bannerTitle ?? entry.title ?? '' %}
{% set leadIn = leadIn ?? entry.leadIn ?? '' %}
{% set ctaButton = ctaButton ?? entry.ctaButton ?? '' %}

{# BANNER IMAGE #}
{% if bannerImage | length %}
  {% set banner %}
    <figure class="absolute inset-0 z-0">
      <img 
        class="absolute inset-0 object-fit-cover w-full h-full z-0" 
        style="object-position:{{ bannerImage.one.getFocalPoint('asCss') }};" 
        src="{{ bannerImage.one.url }}"
        alt="{{ bannerImage.one.title }}">
    </figure>
  {% endset %}
{% else %}
  {% set banner %}
    <div class="absolute inset-0 z-0 bg-transparent-oakland-roots">
    </div>
  {% endset %}
{% endif %}

{# BREADCRUMBS #}
{% set breadCrumbs %}
  <div class="relative z-10 bg-white text-dark-green text-2xs md:text-xs rounded-sm px-2 py-1 inline-block shadow">
    <a class="text-dark-green hover:text-dark-green hover:underline" href="/">
      Oakland
    </a> →
    {% for link in breadCrumbLinks ?? '' %}
      <a class="text-dark-green hover:text-dark-green hover:underline" href="{{ link.link }}">{{ link.title }}</a> →
    {% endfor %}
    <span class="font-bold">{{ bannerTitle }}</span>
  </div>
{% endset %}

{# SIDEBAR NAV #}
{% set sideNav %}
  {% if navMenu is defined %}
    <div class="hidden mr-10 w-1/6 sm:block font-heading font-bold">
      <ul class="text-sm my-0 o-2">
        {% for key,value in navMenu %}
          {% if value %}
            <li>
              <a 
                aria-label="Featured {{ fullNavMenu[key]['title'] }}" 
                href="#page-{{ fullNavMenu[key]['url'] }}"
              >{{ fullNavMenu[key]['title'] }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endset %}

{# HEADER CONTENT #}
{% set headerContent %}
  <div class="flex-1">
    <h1 class="text-3xl md:text-4xl font-bold mb-0">{{ bannerTitle }}</h1>
    {% if leadIn %}
      <p class="mb-0 max-w-md md:leading-loose">{{ leadIn | raw }}</p>
    {% endif %}
    {% if ctaButton | length %}
      {% set attributes = {
          class: 'btn px-8 py-2 mt-4 text-sm',
          "data-custom": 'custom-data-attribute'
      } %}
      {{ ctaButton.link(attributes) }}
    {% endif %}
  </div>
{% endset %}

{% if bannerImage | length %}
  <div class="banner leading-normal">
    <div class="container pt-2 pb-8 md:pt-4 md:pb-6 min-h-2-1/2 md:min-h-4 leading-none">
      {{ banner }}
      {{ breadCrumbs }}
    </div>
  </div>
{% else %}
  <div class="banner leading-none">
    <div class="container pt-2 pb-8 md:pt-4 md:pb-6">
      {{ banner }}
      {{ breadCrumbs }}
    </div>
  </div>
{% endif %}
<div class="container sm:flex">
  {{ custSideNav ?? sideNav }}
  {{ custHeaderContent ?? headerContent }}
</div>
