{% if entry.groupHeadName | length %}
  <section class="bg-white">
    <a class="anchor-link" id="page-leadership"></a>
    {% include '_partials/_elements/_module-header.twig' with {
      headerText: pageLeadershipHeaderText ?? "Leadership",
    } %}
    <div class="mt-8 sm:flex">
      <div class="sm:w-1/4 sm:mr-8">
        <figure class="w-full">
          {% if entry.portrait | length %}
            <img src="{{ entry.portrait.one.url }}" alt="Portrait of {{ entry.groupHeadName }}">
          {% else %}
            <div class="h-full p-12 text-gray-500 bg-gray-300 opacity-75 fill-current">
              {{ craft.inlin.er('/assets/img/icon-user.svg') | replace('<svg ', '<svg class="w-full h-full" ') | raw }}
            </div>
          {% endif %}
        </figure>
        {% if entry.teams | length %}
          {% for entry in entry.teams.all() %}
            <a href="{{ entry.url }}" class="block mt-4 text-center btn btn-sm">{{ entry.title }}</a>
          {% endfor %}
        {% endif %}
      </div>
      <div class="sm:flex-1">
        {% include "_partials/_elements/_module-header.twig" with {
          headerText: entry.groupHeadName
        } %}
        {% if pageLeadershipHeaderText is not defined %}
          <p class="mt-2">{{ entry.groupHeadTitle }}</p>
        {% endif %}
        <div class="mt-8">{{ entry.groupHeadBio | raw }}</div>
      </div>
    </div>
  </section>
{% endif %}
