{% if entry.addresses | length or entry.address | length or entry.phoneNumbers | length or entry.emailAddress | length or entry.openHours | length %}
  <section class="bg-white">
    <a id="page-contact" class="anchor-link"></a>
    <div class="container mx-auto px-8 py-16">
      {% include '_partials/_elements/_module-header' with {
        headerText: headerText ?? "Contact Us",
      } %}
      <div class="lg:flex mt-4">
        <div class="lg:w-1/2 lg:pr-8">
          <h3 class="text-xl font-bold">Address{% if entry.addresses | length > 1 %}es{% endif %}
          </h3>
          {% for location in entry.addresses.all() ?? '' %}
            {% if location.locationName | length %}
              <h4 class="text-xl font-bold">{{ location.locationName }}</h4>
            {% endif %}
            {% include '_partials/_elements/_address' %}
          {% endfor %}
          {% if entry.address | length %}
            {% include '_partials/_elements/_address' %}
          {% endif %}
          {{ entry.addressExtended }}
        </div>
        <div class="{% if entry.addresses | length or entry.address | length %}lg:w-1/2 lg:pl-8{% endif %}">
          {% if entry.phoneNumbers | length %}
            <h3 class="text-xl font-bold">Phone Numbers</h3>
            <ul class="list-reset mb-8">
              {% for phone in entry.phoneNumbers.all() %}
                {% include '_partials/_elements/_phone-numbers' %}
              {% endfor %}
            </ul>
          {% endif %}
          {% if entry.emailAddress | length %}
            <h3 class="text-xl font-bold">Email Address</h3>
            <p>
              <a href="mailto:{{ entry.emailAddress }}">{{ entry.emailAddress }}</a>
            </p>
          {% endif %}
          {% if entry.openHours | length %}
            <h3 class="text-xl font-bold">Open Hours</h3>
            {% for item in entry.openHours.all() %}
              {% if item.hoursTitle | length %}
                <h4 class="text-lg font-bold">{{ item.hoursTitle }}</h4>
              {% endif %}
              <dl>
                {% for day in item.hours.getRange(1, 0) %}
                  {% include '_partials/_elements/_hours' %}
                {% endfor %}
              </dl>
            {% endfor %}
          {% endif %}
          {% if entry.boardHours | length %}
            <h3 class="text-xl font-bold">Business Hours</h3>
            {{ entry.boardHours }}
          {% endif %}
          {% include '_partials/_elements/_social-media' %}
        </div>
      </div>
    </div>
  </section>
{% endif %}