<section class="bg-white">
  <div class="container mx-auto px-8 py-16">
    {% include '_partials/_elements/_module-header' with {
      "headerText": "Contact",
    } %}
    <div class="lg:flex mt-4">
      {% if entry.addresses | length %}
        <div class="lg:w-1/2 lg:pr-8">
          <h3 class="text-xl font-bold">Address{% if entry.addresses | length > 1 %}es{% endif %}</h3>
          {% for location in entry.addresses.all() %}
            {% if location.locationName | length %}
              <h4 class="text-xl font-bold">{{ location.locationName }}</h4>
            {% endif %}
            <div class="mt-4 mb-8">
              {% include '_partials/_elements/_address' %}
            </div>
            {% set options = {
                height: 400,
                zoom: 15,
                draggable: true,
                markerOptions: {
                    icon: 'https://maps.google.com/mapfiles/ms/icons/green-dot.png'
                },
                infoWindowOptions: {
                    maxWidth: 200
                }
            } %}
            {{ craft.smartMap.map(location.address, options) }}
          {% endfor %}
          {{ entry.addressExtended }}
        </div>
      {% endif %}
      <div class="{% if entry.addresses | length %}lg:w-1/2 lg:pl-8{% endif %}">
        {% if entry.phoneNumbers | length %}
          <h3 class="text-xl font-bold">Phone Numbers</h3>
          <ul class="list-reset mb-8">
            {% for phone in entry.phoneNumbers.all() %}
              {% include '_partials/_elements/_phone-numbers' %}
            {% endfor %}
          </ul>
        {% endif %}
        {% if entry.emailAddress |length %}
        <h3 class="text-xl font-bold">Email Address</h3>
        <p><a href="mailto:{{ entry.emailAddress }}">{{ entry.emailAddress }}</a></p>
        {% endif %}
        {% if entry.openHours | length %}
          <h3 class="text-xl font-bold">Open Hours</h3>
          {% for item in entry.openHours.all() %}
            {% if item.hoursTitle | length %}<h4 class="text-lg font-bold">{{ item.hoursTitle }}</h4>{% endif %}
            <dl>
              {% for day in item.hours.getRange(1, 0) %}
                {% include '_partials/_elements/_hours' %}
              {% endfor %}
            </dl>
          {% endfor %}
        {% endif %}
        {% if entry.facebook | length or entry.twitter | length or entry.instagram | length or entry.medium | length %}
          <h3 class="text-xl font-bold">Social Media</h3>
          <div>
            {% if entry.facebook |length %}
              {% include '_partials/_elements/_social-media-button' with {
                network: "facebook",
                url: entry.facebook
              } %}
            {% endif %}
            {% if entry.twitter |length %}
              {% include '_partials/_elements/_social-media-button' with {
                network: "twitter",
                url: entry.twitter
              } %}
            {% endif %}
            {% if entry.instagram |length %}
              {% include '_partials/_elements/_social-media-button' with {
                network: "instagram",
                url: entry.instagram
              } %}
            {% endif %}
            {% if entry.medium |length %}
              {% include '_partials/_elements/_social-media-button' with {
                network: "medium",
                url: entry.medium
              } %}
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
