<a href="{{ url }}" class="block text-shark flex items-start">
  <figure class="block w-1/4">
    {% if photo | length %}
      <img src="{{ photo.getUrl('smallSquare') }}" alt="Portrait of {{ jobTitle }}, {{ name }}" class="block rounded-full h-full w-full">
    {% endif %}
  </figure>
  <div class="ml-6 w-3/4">
    <h3 class="m-0 text-2xl">{{ name }}</h3>
    <p class="mt-2">{{ jobTitle }}</p>
  </div>
</a>
