<article>
  <figure>
    <img src="{{ photo.url }}" class="block">
  </figure>
  <div class="mt-4 text-base text-camouflage-green">{{ byline }}</div>
  <h3 class="text-2xl mt-4"><a href="{{ url }}">{{ title }}</a></h3>
  <div class="text-shark mt-4">
    {{ body }}
  </div>
</article>
