{% extends '_layout' %}

{% set document = entry.documentFile %}

{% block content %}
  {% include '_partials/_page-banners' with {
    breadCrumbs: true,
    breadCrumbLinks: [
      {
        title: 'Documents',
        link: '/documents'
      }
    ]
  } %}
  <section class="bg-white relative z-0">
    <div class="container mx-auto p-8 py-16">
      {{ entry.summary }}
      {% if entry.documents.exists() %}
        <h2 class="border-b border-celeste py-2">Documents</h2>
      {% endif %}
      {% if entry.sortDocumentsByDate %}
        {% set entries = entry.documents.orderBy('postDate desc').all() %}
      {% else %}
        {% set entries = entry.documents.all() %}
      {% endif %}
      {% for entry in entries %}
        {% set file = entry.documentFile.one %}
        <article>
          <h3 class="text-xl mb-0">
            <a href="{{ file.url }}" class="fill-current trans-fast inline-flex items-center"><div class="inline-block h-5 w-8">{{ craft.inlin.er('/assets/img/icon-' ~ file.kind ~ '.svg') | replace('<svg ', '<svg class="h-full w-full" ') | raw }}</div>{{ entry.title }} ({{ file.kind | upper }})</a>
          </h3>
          <p class="text-sm mt-0 pl-8"><a class="text-astronaut hover:text-camouflage-grey" href="{{ entry.url }}">Permalink</a></p>
        </article>
      {% endfor %}
    </div>
  </section>
{% endblock %}
