{% extends '_layout.twig' %}
{% do craft.app.elements.eagerLoadElements(
    className(entry),
    [entry],
    [
      'teams'
    ]
) %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'Documents',
        link: '/documents'
      }
    ]
  } %}
  <section class="relative z-0 bg-white">
    <div class="container pt-0">
      {{ entry.summary }}
      {% if entry.documents.exists() %}
        {% include '_partials/_elements/_module-header.twig' with {
          headerText: "Documents",
        } %}
        {% if entry.sortDocumentsByDate %}
          {% set entries = entry.documents.orderBy('postDate desc').all() %}
        {% else %}
          {% set entries = entry.documents.all() %}
        {% endif %}
        <div class="pt-6 border-t border-gray-300">
          {% for entry in entries %}
            {% if entry.section.handle == "documents" %}
              {% set file = entry.documentFile.one %}
              <article class="mb-4">
                <h3 class="mb-0 text-xl">
                  <a href="{{ file.url }}" class="inline-flex items-center fill-current trans-fast">
                    <div class="inline-block w-8 h-5">{{ craft.inlin.er('/assets/img/icon-' ~ file.kind ~ '.svg') | replace('<svg ', '<svg class="w-full h-full" ') | raw }}</div>
                    {{ entry.title }}
                    ({{ file.kind | upper }})</a>
                </h3>
                {{ entry.summary | retcon('attr', '*', { class: 'pl-8 mt-0 text-sm max-w-md'}) }}
              </article>
            {% else %}
              <article>
                <h3 class="mb-0 text-xl">
                  <a href="{{ entry.url }}" class="inline-flex">DOCUMENT PACKET:
                    {{ entry.title }}</a>
                </h3>
              </article>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>
{% endblock %}
