{% extends '_layouts/_banner-with-nav.twig' %}

{% set customNav = [
  {
    title: "About Oakland",
    link: "about-oakland"
  },
  {
    title: "Leadership Profiles",
    link: "leadership-profiles"
  },
  {
    title: "Governance",
    link: "governance"
  },
  {
    title: "City budget and financials",
    link: "city-budget-financials"
  },
  {
    title: "Local agencies",
    link: "local-agencies"
  },
  {
    title: "Quick facts at a glance",
    link: "quick-facts"
  },
] %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    bannerTitle: entry.title,
    breadCrumbLinks: [
      {
        title: 'Press Room',
        link: '/media-center'
      }
    ],
  } %}
  <div class="container pt-0">
    <div class="flex justify-end">
      <div class="w-full md:w-5/6 md:pl-10">
        <h2 class="text-xxxl md:text-xxxxl font-bold my-0">Mission statement</h2>
        <p class="mb-0 md:leading-loose lg:w-2/3">{{ entry.missionStatement }}</p>
      </div>
    </div>
    <div class="flex justify-end">
      <div class="w-full md:w-5/6 md:pl-10">
        <h2 class="text-xxxl md:text-xxxxl font-bold mt-12 mb-0">City profile</h2>
        <p class="mb-0 md:leading-loose lg:w-2/3">{{ entry.cityProfile }}</p>
      </div>
    </div>
  </div>
  {% include "media-center/_partials/_people-block.twig" with {
    blockId: "leadership-profiles",
    heading: "Leadership profiles",
    fieldHandle: entry.mediaCenterLeadership
  } %}
  <section class="bg-rotate">
    <a class="anchor-link" id="press-badge-permits"></a>
    <a class="anchor-link" id="governance"></a>
    <div class="container">
      {% include '_partials/_elements/_module-header.twig' with {
        headerText: "Governance",
      } %}
      {% set cards = [
        {
          url: "https://www.google.com",
          title: "Oakland’s Charter"
        },
        {
          url: "https://www.google.com",
          title: "Municipal Code"
        },
        {
          url: "https://www.google.com",
          title: "Oakland Sunshine Act & Brown Act"
        }
      ] %}
      <div class="card-grid">
        {% for entry in cards %}
          {% include "_partials/_elements/_title-cards" with { cardStyle: 'text-white', cardColor: 'bg-green-600 hover:bg-green-900'} %}
        {% endfor %}
      </dev>
    </div>
  </section>
  {% include "media-center/_partials/_left-text-right-image.twig" with {
    blockId: "city-budget-financials",
    heading: "City budget and financials",
    text: entry.cityBudgetAndFinancialsSummary,
    image: entry.cityBudgetAndFinancialsSummaryPhoto
  } %}
  <section class="bg-rotate">
    <a class="anchor-link" id="local-agencies"></a>
    <div class="container">
      {% include '_partials/_elements/_module-header.twig' with {
        headerText: "Local agencies",
      } %}
      <div class="card-grid">
        {% for agency in entry.localAgencies.all() %}
          <a href="{{ agency.agencyLink }}" class="section-box">{{ agency.agencyName }}</a>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="bg-rotate">
    <a class="anchor-link" id="quick-facts"></a>
    <div class="container">
      {% include '_partials/_elements/_module-header.twig' with {
        headerText: "Quick facts at a glance",
      } %}
      <div class="card-grid">
        {% for fact in entry.quickFactsAtAGlance.all() %}
          <div class="bg-white flex p-8 shadow-btn">
            <div class="flex flex-col items-center justify-start w-full text-center">
              <h3 class="text-xxxl md:text-xxxxl my-0 font-bold">{{ fact.topText }}</h3>
              <p class="text-sm md:text-base my-0">{{ fact.description }}{% if fact.footnote %}*{% endif %}</p>
              {% if fact.footnote %}
                <p class="text-xs mt-4 mb-0 text-gray-500 md:text-sm">{{ fact.footnote }}</p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      {% include "_partials/_elements/_module-readmore.twig" with {
        linkUrl: "/media-center/about-oakland/general-city-information",
        linkText: "More facts"
      } %}
    </div>
  </section>
{% endblock %}
