{% for entry in craft.entries.section('topics').limit(null) %}
  <div>
    {% for day in entry.hours if (day.open ?? "") or (day.closed ?? "") %}
      {% if loop.first %}
        <h1>{{ entry.title }}</h1>
      {% endif %}
      <dt>{{ day.name }}</dt>
      <dd>
        {% if day.isBlank %}
          Closed
        {% else %}
          {{ day.open|time }} - {{ day.close|time }}
        {% endif %}
      </dd>
    {% endfor %}
  </div>
{% endfor %}
{# {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Previous Page</a><br>{% endif %}
{% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Next Page</a>{% endif %} #}