{% set templateBase = "_partials/_content-builder/_blocks/_" %}
{% set heading = heading ?? 'h2' %}
{% set subheading = subheading ?? 'h3' %}
{% set headingClass = headingClass ?? 'text-xxl my-6' %}
{% set topHeadingClass = 'text-xxl mt-0 mb-6' %}
{% set subheadingClass = subheadingClass ?? 'text-xl my-4' %}
{% set galleryTrue = craft.matrixBlocks().owner(entry).fieldId(66).type('gallery') %}

{% if galleryTrue | length %}
  {% do view.registerJsFile(craft.twigpack.getModuleUri("/js/lightgallery.js")) %}
  {% do view.registerCssFile(craft.twigpack.getModuleUri("/css/lightgallery.css")) %}
{% endif %}

{# 
  Table builder macro which takes the matrix block element, as well as the number of columns.
  ===================================
  NOTE: Each row heading element must be named as such: `column${n}Heading`, where `${n}` is the column number.
  ===================================
  NOTE: Each table body column element must be named as such: `column${n}Cell`, where `${n}` is the column number.
  ===================================
  Further additions (like column widths and optional classes for styling) should follow a similar naming convention.
#}
{% macro tableBuilder(object, columns) %}
  <table class="w-full my-8">
    <thead class="font-bold text-white bg-green-400">
      <tr>
        {% for col in 1..columns %}
          {% set colAttrib = 'column' ~ col ~ 'Heading' %}
          {% set widthAttrib = 'column' ~ col ~ 'Width' %}
          <th style="width: {{ attribute(object, widthAttrib) ~ '%' ?? '' }}" class="border-green-400">{{ attribute(object, colAttrib) }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in object.table.all() %}
        <tr>
          {% for col in 1..columns %}
            {% set colAttrib = 'column' ~ col ~ 'Cell' %}
            <td class="p-4 align-top border-green-400 o-6 body-text o-override">{{ attribute(row, colAttrib) }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}
{% import _self as macro %}

{% for block in entry.contentBuilder.all() %}
  {% set blockId =  (block.text ?? block.heading) | kebab ~ '-' ~ block.id ?? block.id %}
  {% switch loop.index0 %}
  
    {% case 0 %}    
      {% set hClass = topHeadingClass %}
    {% default %}
      {% set hClass = headingClass %}
  
  {% endswitch %}
  
  <div class="break-word">
  {% switch block.type %}
    {% case "heading" %}
      <a id="{{ blockId }}" class="anchor-link"></a>
      <{{ heading }} class="{{ hClass }} {% if loop.index0 == 0 %} mt-0{% endif %}">{{ block.text }}</{{ heading }}>
    {% case "subheading" %}
      <a id="{{ blockId }}" class="anchor-link"></a>
      <{{ subheading }} class="{{ subheadingClass }}">{{ block.text }}</{{ subheading }}>
    {% case "text" %}
      <div class="o-6 body-text">
        {{ block.text }}
      </div>
    {% case "textImageBlock" %}
      {% include templateBase ~ block.type ~ ".twig" %}
    {% case "customTemplate" %}
      {% include templateBase ~ "custom-elements/" ~ block.templateSelect %}
    {% case "table2Columns" %}
      {{ macro.tableBuilder(block, 2)}}
    {% case "table3Columns" %}
      {{ macro.tableBuilder(block, 3)}}
    {% case "table4Columns" %}
      {{ macro.tableBuilder(block, 4)}}
    {% case "largeEntryLinks" or 
            "smallEntryLinks" or 
            "image" or
            "gallery" or
            "linksWithDescriptions"
    %}
      {% include templateBase ~ block.type ~ ".twig" %}
    {% case "newsEntries" %}
      {% include templateBase ~ block.type ~ ".twig" %}
    {% case "meetingEntries" %}
      {% include templateBase ~ "calendarEntries.twig" with {
        calendarHandle: "meetings"
      } %}
    {% case "eventEntries" %}
      {% include templateBase ~ "calendarEntries.twig" with {
        calendarHandle: "events"
      } %}
    {% case "embeddedContent" %}
      {% include templateBase ~ "embeddedContent.twig" %}
    {% endswitch %}
  {% endfor %}
</div>
