<div>
  <a class="anchor-link" id="{{ blockId }}"></a>
  <{{ heading }} class="{{ headingClass }}">{{ block.heading }}</{{ heading }}>
  <div class="card-grid grid-equal-height">
    {% for entry in block.entries %}
      {% include '_partials/_elements/_title-cards.twig' with {
        title: entry.title,
        url: entry.url,
      } %}
    {% endfor %}
  </div>
</div>
