<div>
  <a class="anchor-link" id="{{ blockId }}"></a>
  {% if block.heading %}
    <{{ heading }} class="{{ hClass }}">{{ block.heading }}</{{ heading }}>
  {% endif %}
  {{ block.entriesDescription }}
  <div class="card-grid grid-equal-height">
    {% for entry in block.entries.all() %}
      {% set isDoc = (entry.type == "documents") ? true : false %}
      {% include '_partials/_elements/_title-cards.twig' with {
        url: isDoc ? entry.documentFile.one.url : entry.url,
        target: isDoc ? "_blank" : "_self"
      } %}
    {% endfor %}
  </div>
</div>
