<div>
  <a class="anchor-link" id="{{ blockId }}"></a>
  <{{ heading }} class="{{ hClass }}">{{ block.heading }}</{{ heading }}>
  {{ block.entriesDescription }}
  <div class="card-grid grid-equal-height">
    {% for entry in block.entries.all() %}
      {% include '_partials/_elements/_title-cards.twig' %}
    {% endfor %}
  </div>
</div>
