<div class="{% if not loop.last %}mb-12{% endif %}">
  <a class="anchor-link" id="{{ blockId }}"></a>
  <{{ heading }} class="{{ hClass }}">{{ block.heading }}</{{ heading }}>
  {{ block.linkSetDescription }}
  <ul class="items-stretch mt-0 card-grid card-grid-tight">
    {% for linkSet in block.linkSet.all() %}
      {% set link = linkSet.linkLocation %}
      {% set linkType = link.typeHandle %}
      {% if link.hasElement %}
        {% set isDoc = (link.element.type == "documents") ? true : false %}
      {% else %}
        {% set isDoc = false %}
      {% endif %}
      <li>
        <a class="block h-full p-5 border border-gray-800 rounded hover:bg-green-100" href="{{ link.url }}" target="{{ link.target }}">
          <{{ subheading }} class="my-0 text-lg text-gray-800 md:text-xl">{{ link.text }}</{{ subheading }}>
          <p class="mt-4 mb-0 text-sm text-gray-800 md:text-base">{{ linkSet.linkDescription }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
