<div class="{% if not loop.last %}mb-12{% endif %}">
  {% include "_partials/_content-builder/_blocks/_elements/_heading.twig" %} {{ block.linkSetDescription }}
  <div class="flex flex-col space-y-6 md:space-y-0 md:space-x-6 md:flex-row md:items-stretch">
    {% for linkSet in block.linkSet.all() %}
      {% set link = linkSet.linkLocation %}
      {% set linkType = link.typeHandle %}
      {# An individual block #}
      <a href="{{ link.url }}" target="{{ link.target }}" class="relative flex flex-col w-full p-6 overflow-hidden text-white bg-blue-900 rounded shadow hover:text-white md:w-1/3">
        {# The holder for the icon #}
        <div class="relative mb-4">
          <img class="block w-auto h-24" src="{{ linkSet.linkIcon.one.url }}">
        </div>
        {# Our card text #}
        <div class="flex-1">
          <p class="my-0 text-lg md:text-base lg:text-xl line-clamp-3">{{ link.text }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
  {% set link = block.readMoreLink %}
  {% if link %}
    {% include "_partials/_elements/_read-more.twig" with {
      url: link.url,
      text: link.text,
      target: link.target
    } %}
  {% endif %}
</div>
