<div class="body-text">
  <a class="anchor-link" id="{{ blockId }}"></a>
  {% if block.heading %}
    <{{ heading }} class="{{ hClass }}">{{ block.heading }}</{{ heading }}>
  {% endif %}
  {{ block.entriesDescription }}
  <ul class="">
    {% for entry in block.entries.all() %}
      {% set isDoc = (entry.type == "documents") ? true : false %}
      {% set url = isDoc ? entry.documentFile.one.url : entry.redirectUrl ?? entry.url %}
      {% set target = isDoc ? "_blank" : "_self" %}
      <li class="my-2"><a href="{{ url }}" target="{{ target }}">{{ entry.title }}</a></li>
    {% endfor %}
  </ul>
</div>
