{% extends '_layout.twig' %}
{# Sets any overrides for the staff imports #}
{% set firstName = entry.firstName ??? entry.staffImportGivenName ?? '' %}
{% set middleInitial = entry.middleInitial ??? entry.staffImportMiddleInitial ?? '' %}
{% set lastName = entry.lastName ??? entry.staffImportSurname ?? '' %}
{% set jobTitle = entry.jobTitle ??? entry.staffImportJobTitle ?? '' %}
{% set email = entry.emailAddress ??? entry.staffImportEmail ?? '' %}
{% set email = email | replace({'@oaklandnet.com': '@oaklandca.gov'}) %}
{% set phone = entry.phoneNumber ??? entry.staffImportPhoneNumber ?? '' %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'Staff',
        link: '/staff'
      }
    ],
    leadIn: jobTitle,
  } %}
  <section class="bg-white">
    <div class="container pb-16">
      <div class="sm:flex">
        <div class="sm:w-1/4 sm:mr-8">
          <figure class="w-full">
            {% if entry.portrait | length %}
              <img src="{{ entry.portrait.one.url }}" alt="Portrait of {{ entry.title }}">
            {% else %}
              <div class="bg-gray-300 text-gray-400 opacity-75 fill-current h-full p-12">
                {{ craft.inlin.er('/assets/img/icon-user.svg') | replace('<svg ', '<svg class="h-full w-full" ') | raw }}
              </div>
            {% endif %}
          </figure>
          {% set dobc = entry.departmentOfficialBoardCommission %}
          {% if dobc.exists() %}
            {% set dobcLength = dobc | length %}
            {% set plural = dobcLength > 1 ? true : false %}
            <h3 class="text-lg font-bold flex items-center mb-2">Team{% if plural %}s{% endif %}:</h3>
            <div class="o-4">
              {% for entry in dobc.all() %}
                <a href="{{ entry.url }}" class="btn btn-sm block text-center">{{ entry.title }}</a>
              {% endfor %}
            </div>
          {% elseif entry.staffImportDepartment | length %}
            <h3 class="text-lg font-bold flex items-center">{{ entry.staffImportDepartment }}</h3>
          {% endif %}
        </div>
        <div class="sm:flex-1 o-4">
          {% if entry.bio | length %}
            <div class="text-xl o-4">{{ entry.bio | replace('<p>', '<p class="my-0">') | raw }}</div>
          {% endif %}
          {% if email | length %}
            <p class="my-0">
              <span class="font-bold">Email Address:</span>
              <a href="mailto:{{ email }}">{{ email }}</a>
            </p>
          {% endif %}
          {% if phone | length %}
            <p class="my-0">
              <span class="font-bold">Phone Number:</span>
              <a href="tel:{{ phone }}">{{ phone }}</a>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
