{% extends '_layout' %}
{% set entry = craft.entries.section('staffIndex').one %}
{% set relatedEntry = null %}
{% if craft.app.request.getSegment(2) == 'related-to' %}
  {% set urlSlug = craft.app.request.getSegment(3) %}
  {% set relatedEntry = craft.entries.slug(urlSlug).one %}
{% endif %}

{% block content %}
  {% include '_partials/_page-banners' with {
    bannerTitle: entry.title | replace(' Index', ''),
    breadCrumbs: true,
  } %}
  {% include '_partials/_elements/_search-bar' with { searchSegment: "staff" } %}
  <section class="bg-white relative z-0">
    <div class="container mx-auto p-8 py-16">
      {% paginate craft.entries.section('staff').relatedTo(relatedEntry).limit(30).orderBy('title') as pageInfo, pageEntries %}
      {% include '_partials/_elements/_pagination' %}
      <div class="card-grid wide-cards mt-12">
      {% for entry in pageEntries %}
        {% set department = entry.departments.one.title ?? entry.staffImportDepartment ?? '' %}
        {% set organization = entry.staffImportOrganization ?? '' %}
        {% set email = entry.emailAddress ??? entry.staffImportEmail %}
        {% set phone = entry.phoneNumber ??? entry.staffImportPhoneNumber %}
        {% set extraContent %}
          {% if department | length %}<br>{{ department }}{% endif %}
          {% if organization | length %}<br>{{ organization }}{% endif %}
          {% if email | length %}
            {% set e = email | replace({'@oaklandnet.com': '@oaklandca.gov'}) %}
            <br><a href="mailto:{{ e }}">{{ e }}</a>
          {% endif %}
          {% if phone | length %}<br><a href="tel:{{ phone }}">{{ phone }}</a>{% endif %}
          {{ phone }}
        {% endset %}

        {% include '_partials/_elements/_profile-cards' with {
          photo: entry.portrait.one,
          url: entry.redirectUrl ?? entry.url ?? '',
          icon: 'user',
          extraContent: extraContent
        } %}
      {% endfor %}
      </div>
      {% include '_partials/_elements/_pagination' %}
    </div>
  </section>
{% endblock %}
