{% extends '_layout' %}
{% set entry = craft.entries.section('servicesIndex').one %}
{% set relatedEntry = null %}
{% if craft.app.request.getSegment(2) == 'related-to' %}
  {% set urlSlug = craft.app.request.getSegment(3) %}
  {% set relatedEntry = craft.entries.slug(urlSlug).one %}
{% endif %}

{% import '_partials/_macros/_search' as search %}

{% do view.registerCssFile("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.2/dist/instantsearch.min.css") %}
{% do view.registerJsFile("https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.2") %}
{# {% do view.registerJsFile("/assets/js/news-search.js") %} #}

{% js %}
  {% set algoliaIndex = craft.app.config.env ~ '_services' %}
  {{ search.init(algoliaIndex) }}
  {{ search.input("#search-input", "Search for services")}}
  {% set boardTemplate %}{header: "Boards & Commissions"}{% endset %}
  {% set topicsTemplate %}{header: "Topics"}{% endset %}
  {% set officialsTemplate %}{header: "Elected Officials"}{% endset %}
  {% set departmentsTemplate %}{header: "Departments"}{% endset %}
  {{ search.menuSelect("#boardsCommissions", "boardsCommissions", boardTemplate) }}
  {{ search.menuSelect("#topics", "topics", topicsTemplate) }}
  {{ search.menuSelect("#electedOfficials", "electedOfficials", officialsTemplate) }}
  {{ search.menuSelect("#departments", "departments", departmentsTemplate) }}
  {{ search.reset() }}

  {% set hitsTemplate =
  '<article><h3><a href="{{ url }}">{{ title }}</a></h3></article>'
  %}

  {{ search.hits("#hits", hitsTemplate) }}
  {{ search.pagination() }}
  {{ search.start() }}
{% endjs %}

{% block content %}
  {% include '_partials/_page-banners' with {
    bannerTitle: entry.title | replace(' Index', ''),
    breadCrumbs: true,
  } %}
  <section class="bg-white relative z-0">
    <div class="container mx-auto p-8 py-16 flex flex-col-reverse md:flex-row">
      <div class="md:w-3/4">
        <div class="text-2xl flex items-center"><div>Pages: </div><div class="inline-block" id="pagination"></div></div>
        <div id="hits">
          <!-- Hits widget will appear here -->
        </div>
      </div>
      <div class="md:w-1/4 md:pl-8 md:pt-8">
        <input id="search-input" class="flex-1 py-4 px-8 mb-4 rounded-none appearance-none" type="search" name="keywords" value="" required>
        <div class="mt-2" id="departments"></div>
        <div class="mt-2" id="electedOfficials"></div>
        <div class="mt-2" id="boardsCommissions"></div>
        <div class="mt-2" id="topics"></div>
        <div id="clear-all" class="mt-2"></div>
      </div>
    </div>
  </section>
{% endblock %}
