{% extends '_layout.twig' %}
{# Sets any overrides for the volunteer imports #}
{% set firstName = entry.firstName ?? '' %}
{% set middleInitial = entry.middleInitial ?? '' %}
{% set lastName = entry.lastName ?? '' %}
{% set jobTitle = entry.jobTitle ?? '' %}
{% set email = entry.emailAddress ?? '' %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'Volunteers',
        link: '/volunteers'
      }
    ],
    leadIn: jobTitle,
  } %}
  <section class="bg-white">
    <div class="container py-16">
      <div class="sm:flex sm:flex-row-reverse">
        <div class="sm:flex-1">
          <h2 class="text-xxxl sm:mt-0 mb-0">{{ entry.title }}</h2>
          <p class="text-xl mt-2">
            {{ jobTitle }}
          </p>
          {% if entry.bio | length %}
            <div class="text-xl mt-8">{{ entry.bio }}</div>
          {% endif %}
          {% if email | length %}
            <p class="my-0"><span class="font-bold">Email Address:</span> <a href="mailto:{{ email }}">{{ email }}</a></p>
          {% endif %}
          {% if entry.phoneNumber | length %}
            <p class="my-0"><span class="font-bold">Phone Number:</span> <a href="tel:{{ entry.phoneNumber }}">{{ entry.phoneNumber }}</a></p>
          {% endif %}
          {% if entry.termStart | length %}
            <p><b>Term Start Date</b>: {{ entry.termStart | date() }}</p>
          {% endif %}
          {% if entry.termEnd | length %}
            <p><b>Term End Date</b>: {{ entry.termEnd | date() }}</p>
          {% endif %}
        </div>
        <div class="sm:w-1/4 sm:mr-8">
          <figure class="w-full">
            {% if entry.portrait | length %}
              <img src="{{ entry.portrait.one.url }}" alt="Portrait of {{ entry.title }}">
            {% else %}
              <div class="bg-gray-300 text-gray-400 opacity-75 fill-current h-full p-12">
                {{ craft.inlin.er('/assets/img/icon-user.svg') | replace('<svg ', '<svg class="h-full w-full" ') | raw }}
              </div>
            {% endif %}
          </figure>
          {% set dobc = entry.departmentOfficialBoardCommission %}
          {% if dobc.exists() %}
            <h3 class="text-lg font-bold flex items-center"><span class="w-16">Team: </span><a href="{{ dobc.one.url }}" class="flex-1 btn btn-sm inline-block text-center">{{ dobc.one.title }}</a></h3>
          {% elseif entry.staffImportDepartment | length %}
            <h3 class="text-lg font-bold flex items-center">{{ entry.staffImportDepartment }}</h3>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
