{% extends '_layout' %}
{% set entry = craft.entries.section('searchIndex').one %}

{% set section = section ?? '' %}
{% switch section %}

  {% case "boards-commissions" %}
    {% set sections = [
      {
        name:'Boards & Commissions',
        handle:'boardsCommissions'
      }
    ] %}

  {% case "documents" %}
    {% set sections = [
      {
        name: 'Documents',
        handle: 'documents, documentPackets',
      }
    ] %}

  {% case null %}
  {% set sections = [
    {
      name: 'Services',
      handle: 'services'
    },
    {
      name: 'Resources',
      handle: 'resources'
    },
    {
      name: 'Departments',
      handle: 'departments'
    },
    {
      name: 'Boards & Commissions',
      handle: 'boardsCommissions'
    },
    {
      name: 'Index Pages',
      handle: 'boardsCommissionsIndex, departmentsIndex, documentsIndex, eventsIndex, meetingsIndex, newsIndex, officialsIndex, processesIndex, projectsIndex, resourcesIndex, servicesIndex, staffIndex, teamsIndex, topicsIndex'
    },
    {
      name: 'News',
      handle: 'news'
    },
    {
      name: 'Projects',
      handle: 'projects'
    },
    {
      name: 'Topics',
      handle: 'topics'
    },
    {
      name: 'Documents',
      handle: 'documents, documentPackets',
    },
    {
      name: 'Teams',
      handle: 'teams'
    },
    {
      name: 'Staff',
      handle: 'staff'
    }
  ] %}

  {% default %}
    {% set sections = [
      {
        name: section | capitalize,
        handle: section
      }
    ] %}

{% endswitch %}

{% set sectionsToSearch = [] %}
{% for entry in entry.pageNews.ids() ?? '' %}
  {% set idsToExclude = idsToExclude|merge([entry]) %}
{% endfor %}

{% for sec in sections %}
  {% set sectionsToSearch = sectionsToSearch | merge([sec.handle]) %}
{% endfor %}

{% set query = craft.app.request.getParam('query') %}
{% set entries = craft.entries.section(sectionsToSearch).search(query).orderBy('score') %}

{% block content %}
  {% include '_partials/_page-banners' with {
    smallBanner: true
  } %}
  <div class="bg-cararra">
    <div class="container mx-auto p-8">
      <form action="{{ url('search/legacy') }}">
        <label for="keywords">Search by Keyword</label>
        <div class="flex flex-col sm:flex-row mt-4">
          <input class="flex-1 py-4 px-8 mb-4 sm:mb-0 rounded-none appearance-none" type="search" name="query" value="{{ query }}" required>
          <button class="btn" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
  <section class="bg-white relative z-0">
    <div class="container mx-auto p-8 py-16">
      <h2 class="mt-0 mb-16">{{ entries | length }}
        {{"pages match your search for" }}
        <span class="font-bold bg-cararra px-2">{{ query }}</span></h2>
        {% if entries | length %}
          {% if sections | length > 1 %}
            {% set entry = entries.one %}
            {% if entry.redirectUrl | length %}
              {% set url = entry.redirectUrl %}
            {% else %}
              {% set url = entry.url %}
            {% endif %}
            <div class="md:flex">
              <div class="md:w-1/4 md:pr-4">
                <h3 class="text-xl my-0">Top Hit</h3>
              </div>
              <div class="flex-1">
                <a class="block w-full sm:pl-2 hover:bg-curious-blue hover:text-white" href="{{ url }}">{{ entry.title }} (in {{ entry.section.name }})</a>
              </div>
            </div>
          {% endif %}
          {% for currentSection in sections %}
            {% if entries.section(currentSection.handle).all() | length %}
              <div class="md:flex mt-4">
                <div class="md:w-1/4 md:pr-4">
                  <h3 class="text-xl my-0">{{ currentSection.name }}</h3>
                </div>
                <div class="flex-1">
                  {% for entry in entries.section(currentSection.handle).all() %}
                    <article class="mb-3">
                      {% if entry.redirectUrl | length %}
                        {% set url = entry.redirectUrl %}
                      {% else %}
                        {% set url = entry.url %}
                      {% endif %}
                      <a class="block w-full sm:pl-2 hover:bg-curious-blue hover:text-white" href="{{ url }}">{{ entry.title }}</a>
                    </article>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          <p>{{"Your search for" }} “{{ query }}” {{"didn’t return any results." }}</p>
      {% endif %}
    </div>
  </section>
{% endblock %}
