{% extends '_layouts/_banner-with-nav' %}
{% set entry = event %}

{% block content %}
  {% block banner %}
    {% include '_partials/_page-banners' with {
      bannerImage: entry.eventImage,
      bannerImageBlur: 'large',
      breadCrumbs: true,
      breadCrumbLinks: [
        {
          title: 'Meetings',
          link: '/meetings'
        }
      ],
    } %}
  {% endblock %}
  <section class="bg-white relative z-0">
    <div class="container mx-auto p-8 py-16 sm:flex">
      <div class="sm:w-2/3 sm:mr-8">
        {% set startDate = event.startDate %}
        {% set endDate = event.endDate %}
        <div class="text-white bg-shark p-4 md:inline-flex md:items-center">
          <h3 class="my-0 md:mr-8">Meeting</h3>
          <time datetime="{{ startDate | atom }}">
            <h4 class="font-bold my-0 text-4xl">
              {{ startDate.format("F, j Y") }}
            </h4>
            {% if not event.allDay %}
              <p class="my-0 text-xl">{{ startDate.format("g:ia") }} {% if endDate | length %} — {{ endDate.format("g:ia") }}{% endif %}
              </p>
            {% endif %}
          </time>
        </div>
        {% if entry.body | length %}
          <h3>Details</h3>
          {{ entry.body }}
        {% endif %}
        {# .relatedTo('and', 'not ' ~ minutes ~ ', not ' ~ agendas).all() #}
        {% set minuteCat = craft.categories.group('documentTypes').id(12).one %}
        {% set agendaCat = craft.categories.group('documentTypes').id(13).one %}

        {% set minuteIds = craft.entries.relatedTo(minuteCat).ids() %}
        {% set agendaIds = craft.entries.relatedTo(agendaCat).ids() %}

        {% set otherDocs = 'and, not ' ~ agendaIds | join(', not ') ~ ', not ' ~ minuteIds | join(', not ')  %}

        {% set minutes = entry.documents.id(minuteIds).all() %}
        {% set agendas = entry.documents.id(agendaIds).all() %}
        {% set documents = entry.documents.id(otherDocs).all() %}

        {% if minutes | length %}
          <h3>Minutes</h3>
          <ul class="list-reset">
            {% for entry in minutes %}
              {% set file = entry.documentFile.one %}
              <li class="mb-4">
                {% include '_partials/_elements/_document-text' %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if agendas | length %}
          <h3>Agendas</h3>
          <ul class="list-reset">
            {% for entry in agendas %}
              {% set file = entry.documentFile.one %}
              <li class="mb-4">
                {% include '_partials/_elements/_document-text' %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if documents | length %}
          <h3>Documents</h3>
          <ul class="list-reset">
            {% for entry in documents %}
              {% set file = entry.documentFile.one %}
              <li class="mb-4">
                {% include '_partials/_elements/_document-text' %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if entry.videoLink | length %}
          <h3>Video</h3>
          {% set videoUrl = entry.videoLink %}
          {% set splitVideoUrl = videoUrl | split('://')[1] | split('&')[0] %}
          {% if splitVideoUrl starts with 'oakland.granicus.com' %}
            {% set embed = "https://" ~ splitVideoUrl ~ "&starttime=undefined&stoptime=undefined&autostart=0&embed=1" %}
          {% else %}
            {% set embed = craft.videoEmbedder.getEmbedUrl(entry.videoLink) %}
          {% endif %}
          {% if embed | length %}
            <style>
              .embed-container {
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                max-width: 100%;
              }
              .embed-container embed,
              .embed-container iframe,
              .embed-container object {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            </style>
            <div class='embed-container'>
              <iframe src='{{ embed }}' frameborder='0' allowfullscreen="allowfullscreen"></iframe>
            </div>
          {% else %}
            <p><a href="{{ entry.videoLink }}" target="_blank">Meeting Video ({{ entry.videoLink }})</a></p>
          {% endif %}
        {% endif %}
        {% if entry.eventContact | length %}
          <h3>Contact</h3>
          {{ entry.eventContact }}
        {% endif %}
      </div>
      <div class="sm:flex-1">
        {% if entry.eventImage.exists() %}
          <figure>
            <img class="w-full block" src="{{ entry.eventImage.one.url }}" alt="{{ entry.title }} Image">
          </figure>
        {% endif %}
        {% if entry.address | length %}
          <h3>Address</h3>
          {% include '_partials/_elements/_address' %}
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
