{% extends '_layout.twig' %}

{% do craft.app.elements.eagerLoadElements(
  className(entry),
  [entry],
  [
    'banner',
    'addresses',
    'contentBuilder',
    'portrait',
    'teams',
    'phoneNumbers',
    'openHours',
    'contentBuilder.largeEntryLinks:entries',
    'contentBuilder.largeEntryLinks:documentFile',
    'contentBuilder.officials.officials',
  ]
) %}

{% set pressRelease = entry.pressReleaseFile %}
{% set contentBuilder = entry.contentBuilder | length %}

{% block content %}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'News',
        link: '/news'
      }
    ],
  } %}
  <div class="container pt-0">
    <div class="flex">
      {% include "_partials/_elements/_nav-sidebar.twig" %}
      <div class="flex w-full">
        <div class="md:w-3/4 md:mr-8">
          {% include '_partials/_elements/_last-update.twig' %}
          {% if entry.newsImage | length %}
            <figure class="max-w-full mb-8">
              {% set newsImage = entry.newsImage.one() %}
              <img src="{{ newsImage.url }}" alt="{{ newsImage.altText ?? ''}}" />
            </figure>
          {% endif %}
          {% if contentBuilder %}
            {% include '_partials/_content-builder/_tool.twig' %}
          {% else %}
            <div class="body-text">
              {{ entry.body }}
            </div>
          {% endif %}
        </div>
        <div class="md:flex-1">
          {% if entry.mediaContact | length %}
            <h3>Media Contact</h3>
            {{ entry.mediaContact }}
          {% endif %}
          {% if pressRelease.exists() %}
            <a href="{{ pressRelease.one.url }}" class="w-full btn">Download Press Release</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
