{% extends '_layouts/_banner-with-nav' %}

{% set relatedMeetings = craft.calendar.events.relatedTo(entry) %}
{% set relatedNews = craft.entries.section('news').relatedTo(entry) %}

{% set contactState = entry.addresses | length or not entry.address.isEmpty or entry.phoneNumbers | length or entry.emailAddress | length or entry.openHours | length %}

{% block content %}
  {% include '_partials/_page-banners' with {
    breadCrumbs: true,
    breadCrumbLinks: [
      {
        title: 'Projects',
        link: '/projects'
      }
    ],
    navMenu: {
      'timeline': entry.timeline.exists(),
      'meetings': relatedMeetings.exists(),
      'about': true,
      'contact': contactState,
      'funding': entry.fundingLogos.exists(),
    }
  } %}
  {% css %}
    {% include "_css/timeline.css" %}
  {% endcss %}
  {% js %}
    {% include "_js/timeline.js" %}
    timeline(document.querySelectorAll('.timeline'));
  {% endjs %}
  <section>
    <a id="page-timeline" class="anchor-link"></a>
    <div class="container mx-auto p-8 py-16">
      <div class="md:flex md:flex-row">
        <div class="md:pr-4 md:w-1/2">
          {% if entry.timeline.exists() %}
            <h2>Timeline</h2>
            <div class="timeline" data-vertical-start-position="right">
              <div class="timeline__wrap">
                <div class="timeline__items">
                  {% for block in entry.timeline.all() %}
                    <div class="timeline__item">
                      <div class="timeline__content">
                        <h3 class="font-bold text-xl my-0">{{ block.milestoneName }}</h3>
                        <p>{{ block.milestoneDates }}</p>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="md:pl-4 md:w-1/2">
          {% if entry.projectMapImage.exists() %}
            <h2>Project Location</h2>
            <figure class="block w-full">
              <img src="{{ entry.projectMapImage.one.getUrl('medium43') }}" class="block">
            </figure>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  {% if entry.projectBeforePhoto.exists() and entry.projectAfterPhoto.exists() %}
    <section>
      <a id="page-project-photos" class="anchor-link"></a>
      <div class="container mx-auto p-8 py-16">
        <div class="md:flex md:flex-row">
          <div class="md:pr-4 md:w-1/2">
            <h3>Current</h3>
            <figure class="block w-full">
              <img src="{{ entry.projectBeforePhoto.one.getUrl('medium43') }}" class="block">
            </figure>
          </div>
          <div class="md:pl-4 md:w-1/2">
            <h3>Projected/After</h3>
            <figure class="block w-full">
              <img src="{{ entry.projectAfterPhoto.one.getUrl('medium43') }}" class="block">
            </figure>
          </div>
        </div>
        <div>
          {% set attributes = {
            class: 'btn px-8 py-2 mt-4 text-sm',
            "data-custom": 'custom-data-attribute'
          } %}
          {{ entry.externalPhotoGallery.link(attributes) }}

        </div>
      </div>
    </section>
  {% endif %}
  <section>
    <a id="page-about" class="anchor-link"></a>
    <div class="container mx-auto p-8 py-16 md:flex md:flex-row">
      <div class="md:pr-4 md:w-2/3">
        <h3 class-"mb-4">About</h3>
        {{ entry.about }}
      </div>
      <div class="md:pl-4 md:w-1/3">
        <h3 class="mb-4">Project Updates</h3>
        {% for entry in craft.entries.section('news').relatedTo(entry).all() %}
          <a href="{{ entry.url }}" class="block mb-4 p-4 bg-celeste hover:bg-apple text-shark hover:text-white"><h4 class="mt-0 mb-2 text-sm">{{ entry.title }}</h4> <p class="my-0 text-xs">{{ entry.postDate | date() }}</p></a>
        {% else %}
          <h4 class="mt-0 mb-2 text-sm">No updates, yet! Check back soon!</h4>
        {% endfor %}
      </div>
    </div>
  </section>
  <section>
    <a id="page-resources" class="anchor-link"></a>
    <div class="container mx-auto p-8 py-16 md:flex md:flex-row">
      {% set relProj = entry.relatedProjectEntries %}
      {% set projDocs = entry.projectDocuments %}
      {% if relProj | length %}
      <div{% if projDocs %} class="md:pr-4 md:w-2/3"{% endif %}>
        <h3>Related Pages</h3>
        <div class="card-grid">
          {% for entry in relProj.all() %}
            {% include "_partials/_elements/_title-cards" with { cardColor: 'bg-cararra'} %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% if projDocs | length %}
      <div{% if relProj %} class="md:pl-4 md:w-1/3"{% endif %}>
        <h3 class="mb-10">Project Documents</h3>
        {% for entry in projDocs.all() %}
          <a href="{{ entry.url }}" class="block mt-4 p-4 bg-cararra hover:bg-apple text-shark hover:text-white"><h4 class="my-0 text-sm">{{ entry.title }}</h4></a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </section>
  {% include '_partials/_page-meetings' %}
  {% include '_partials/_page-location' %}
  {% if entry.fundingLogos.exists() %}
    <section>
      <a id="page-funding" class="anchor-link"></a>
      <div class="container mx-auto p-8 py-16">
        <h3 class="mb-4 text-center">Project Funding</h3>
        <div class="flex flex-wrap items-center justify-center -mx-4">
          {% for logo in entry.fundingLogos.all() %}
            <figure class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 mb-4 md:mb-8 mx-4">
              <img class="w-full h-auto block mx-auto" src="{{ logo.url }}" alt="{{ logo.title }}">
            </figure>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
