{% extends '_layouts/_banner-with-nav.twig' %}

{% set relatedMeetings = craft.calendar.events.relatedTo(entry) %}

{% set aboutTrue = entry.about %}
{% set photosTrue = entry.photoGallery.exists() %}
{% set documentsTrue = entry.projectDocuments.exists() %}
{% set meetingsTrue = relatedMeetings | length %}
{% set updatesTrue = entry.projectUpdates.exists() %}
{% set mapTrue = entry.projectLocations.exists() %}
{% set timelineTrue = entry.timeline.exists() %}
{% set relatedTrue = entry.relatedProjectEntries.exists() %}
{% set fundingTrue = entry.fundingLogos.exists() %}
{% set emailTrue = entry.emailAddress %}
{% set socialMediaTrue = entry.facebook or entry.twitter or entry.medium or entry.instagram or entry.youtube %}
{% set contactTrue = emailTrue or socialMediaTrue %}

{% js %}
  function toggleLinks(toggleId) {
    var toggle = document.getElementById(toggleId);
    toggle.addEventListener('click', function(e) {
      e.preventDefault();
      var toggleClass = e.target.dataset.class;
      var toggleLinks = document.querySelectorAll('.' + toggleClass + '[data-toggle]');
      toggleLinks.forEach(function(e) {
        if (e.getAttribute('data-toggle') == 'off') {
          e.setAttribute('data-toggle', 'on');
        } else {
          e.setAttribute('data-toggle', 'off');
        }
      });
    });
  }
{% endjs %}

{% block content %}
  {%- set headerSubContent -%}
    <div class="o-4 mt-4 md:mt-0">
    {% if entry.projectStatus %}
      <div class="text-sm">
        <strong>Status:</strong><br>
        {{ entry.projectStatus.label }}
      </div>
    {% endif %}
    {% if entry.projectStartDate %}
      <div class="text-sm">
        <strong>Start date:</strong><br>
        {{ entry.projectStartDate | date() }}
      </div>
    {% endif %}
    {% if entry.projectEndDate %}
      <div class="text-sm">
        <strong>Completion date:</strong><br>
        {{ entry.projectEndDate | date() }}
      </div>
    {% endif %}
    </div>
  {%- endset -%}
  {% include '_partials/_page-banners.twig' with {
    breadCrumbLinks: [
      {
        title: 'Projects',
        link: '/projects'
      }
    ],
    navMenu: {
      'about': aboutTrue,
      'photos': photosTrue,
      'documents': documentsTrue,
      'meetings': meetingsTrue,
      'updates': updatesTrue,
      'map': mapTrue,
      'timeline': timelineTrue,
      'relatedpages': relatedTrue,
      'logos': fundingTrue,
      'contact': contactTrue,
    },
    headerSubContent: headerSubContent
  } %}
  <div class="container md:flex pt-0">
    <div class="md:w-2/3 md:pr-8 md:mr-8">
      {% if entry.about %}
        <section class="mb-16 border-b border-gray-400 pb-16">
          <a class="anchor-link" id="page-about"></a>
          <h2 class="text-xxl">About</h2>
          <div class="body-text">
            {{ entry.about }}
          </div>
        </section>
      {% endif %}
      {% if photosTrue %}
        {% do view.registerJsFile(craft.twigpack.getModuleUri("/js/lightgallery.js")) %}
        {% do view.registerCssFile(craft.twigpack.getModuleUri("/css/lightgallery.css")) %}
        {% js %}lightGallery(document.querySelector('#js-photoGallery'));{% endjs %}
        <section class="mb-16 border-b border-gray-400 pb-16">
          <a class="anchor-link" id="page-photos"></a>
          <h2 class="text-xxl">Photos</h2>
          <div class="flex flex-row flex-wrap" id="js-photoGallery">
            {% for photo in entry.photoGallery.all() %}
              <figure class="w-1/3" data-src="{{ photo.url }}" data-sub-html="<p class='font-bold'>{{ photo.title }}</p><p>{{ photo.altText }}</p>">
                <a href="{{ photo.url }}">
                  {% set transformedImage = craft.imager.transformImage(photo, { width: 400}, {
                    ratio: 1/1, position: photo.getFocalPoint()
                  }, {
                    fillTransforms: true
                  }) %}
                  <img src="{{ transformedImage.url }}">
                </a>
              </figure>
            {% endfor %}
          </div>
        </section>
      {% endif %}
      {% if documentsTrue %}
        <section class="mb-16 border-b border-gray-400 pb-16">
          <a class="anchor-link" id="page-documents"></a>
          <h2 class="text-xxl">Documents</h2>
          <div class="o-6"> 
            {% for entry in entry.projectDocuments.all() %}
              <a class="section-box project-documents" {{ loop.first ? '' : 'data-toggle="off"' }} href="{{ entry.url }}">{{ entry.title }}</a>
            {% endfor %}
          </div>
          {% if entry.projectDocuments | length > 1 %}
            <p class="font-bold font-heading mt-4 border-green-400 border-b-2 inline-block"><a href="" id="project-documents-toggle" data-class="project-documents">Toggle all related documents</a></p>
            {% js %}toggleLinks('project-documents-toggle');{% endjs %}
          {% endif %}
        </section>
      {% endif %}
      {% if meetingsTrue %}
        <section>
          <a class="anchor-link" id="page-meetings"></a>
          <h2 class="text-xxl">Meetings</h2>
          {% for entry in relatedMeetings.all() %}
            {% include '_partials/_elements/_vertical-cards.twig' with {
              title: entry.title,
              url: entry.url,
              icon: 'calendar',
              photo: entry.eventImage.one,
              byline: entry.startDate.format("M d, Y"),
              body: entry.body | chop(limit=20, unit='w', append='…')
            } %}
          {% endfor %}
        </section>
      {% endif %}
    </div>
    <div class="md:w-1/3">
      {% if updatesTrue %}
        <section class="mb-16 border-b border-gray-400 pb-16">
          <a class="anchor-link" id="page-updates"></a>
          <h2 class="text-xxl">Updates</h2>
          <div class="o-6">
            {% for entry in entry.projectUpdates.all() %}
              <a class="section-box project-updates" {{ loop.first ? '' : 'data-toggle="off"' }} href="{{ entry.url }}">{{ entry.title }}</a>
            {% endfor %}
          </div>
          {% if entry.projectUpdates | length > 1 %}
           <p class="font-bold font-heading mt-4 border-green-400 border-b-2 inline-block"><a href="" id="project-updates-toggle" data-class="project-updates">Toggle all project updates</a></p>
            {% js %}toggleLinks('project-updates-toggle');{% endjs %}
          {% endif %}
        </section>
      {% endif %}
      {% if mapTrue %}
        <section class="mb-16 border-b border-gray-400 pb-16">
          <a class="anchor-link" id="page-map"></a>
          <h2 class="text-xxl">Map</h2>

          {% do view.registerJsFile("https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js") %}
          {% do view.registerCssFile("https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css") %}

          {% set maps = '' %}

          {% for location in entry.projectLocations.all() %}
            {% set last = not loop.last ? ', ' %}
            {% set loc = location.address %}
            {% set lat = loc.lat %}
            {% set lon = loc.lng %}
            {% set maps = maps ~ 'pin-m-marker+285A98(' ~ lon ~',' ~ lat ~ ')' ~ last | trim %}
          {% endfor %}

          <figure class="mt-4 w-full" id='map'>
            <img src="https://api.mapbox.com/v4/mapbox.emerald/{{ maps }}/auto/600x400@2x.png?access_token=pk.eyJ1Ijoib2FrbGFuZGRpZ2l0YWwiLCJhIjoiY2pudXBsb2Q5MTcyejNwcGFiMXI3djlvMiJ9.eWDu3rz5mBaZvBzMQtZGlQ" alt="Map of Project: {{ entry.title }}">
          </figure>

        </section>
      {% endif %}
      {% css %}
        .milestone-name {
          position: relative;
        }

        .milestone-name:before {
          position: absolute;
          width: 20px;
          height: 20px;
          border-width: 2px;
          background-color: #f1f4f4;
          border-color: #8c9d96;
          border-radius: 50%;
          content: '';
          left: calc(-2rem - 11px);
          top: 0;
        }
      {% endcss %}
      
      {% if timelineTrue %}
        <section class="mb-16 border-b border-gray-400 pb-16">
          <a class="anchor-link" id="page-timeline"></a>
          <h2 class="text-xxl">Timeline</h2>
          <div class="project-timeline">
            {% for milestone in entry.timeline.all() %}
              <div class="project-timeline-item pl-8 border-l-2 {% if not loop.last %}pb-4 border-gray-400{% else %}border-white{% endif %}" {{ loop.index < 4 ? '' : 'data-toggle="off"' }}>
                <div class="text-gray-500">
                  <div class="milestone-name leading-none">{{ milestone.milestoneName }}</div>
                  {% if milestone.milestoneDates %}
                    <span class="text-sm text-gray-700 font-bold">{{ milestone.milestoneDates }}</span>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
          {% if entry.timeline | length > 4 %}
            <p class="font-bold font-heading mt-4 border-green-400 border-b-2 inline-block"><a href="" id="project-timeline-toggle" data-class="project-timeline-item">See all timeline</a></p>
            {% js %}toggleLinks('project-timeline-toggle');{% endjs %}
          {% endif %}
        </section>
      {% endif %}
      {% if relatedTrue %}
        <section class="mb-16 border-b border-gray-400 pb-16">
          <a class="anchor-link" id="page-related"></a>
          <h2 class="text-xxl">Related pages</h2>
          <div class="o-6">
            {% for entry in entry.relatedProjectEntries.all() %}
              <a class="section-box project-related" {{ loop.first ? '' : 'data-toggle="off"' }} href="{{ entry.url }}">{{ entry.title }}</a>
            {% endfor %}
          </div>
          {% if entry.relatedProjectEntries | length > 1 %}
            <p class="font-bold font-heading mt-4 border-green-400 border-b-2 inline-block"><a href="" id="project-related-toggle" data-class="project-related">Toggle all related pages</a></p>
            {% js %}toggleLinks('project-related-toggle');{% endjs %}          
          {% endif %}
        </section>
      {% endif %}
      {% if fundingTrue %}
        <section class="mb-16 border-b border-gray-400 pb-16">
          <a class="anchor-link" id="page-logos"></a>
          <h2 class="text-xxl">{{ entry.fundingLogosAlternateTitle ?? 'Partners' }}</h2>
          <div class="flex flex-wrap items-center justify-center -mx-4">
            {% for logo in entry.fundingLogos.all() %}
              <figure class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 mb-4 md:mb-8 mx-4">
                <img class="w-full h-auto block mx-auto" src="{{ logo.url }}" alt="{{ logo.title }}">
              </figure>
            {% endfor %}
          </div>
        </section>
      {% endif %}
      {% if contactTrue %}
        <section>
          <a class="anchor-link" id="page-contact"></a>
          <h2 class="text-xxl">Contact</h2>
          {% if emailTrue %}
            <h3 class="text-xl mb-2">Email</h3>
            <p class="mt-0">
              <a href="mailto:{{ entry.emailAddress }}">{{ entry.emailAddress }}</a>
            </p>
          {% endif %}
          {% for phone in entry.phoneNumbers.all() %}
            {% include '_partials/_elements/_phone-numbers.twig' %}
          {% endfor %}
          {% if socialMediaTrue %}
            {% include "_partials/_elements/_social-media" %}
          {% endif %}
        </section>
      {% endif %}
    </div>
  </div>
{% endblock %}
