{% extends '_layout' %}

{% block content %}
  {% include '_partials/_page-banners' with {
    breadCrumbs: true,
    breadCrumbLinks: [
      {
        title: 'Services',
        link: '/services'
      }
    ],
  } %}
  <section class="bg-white relative z-0">
    <div class="container mx-auto p-8 py-16">
      <div class="md:flex">
        <div class="md:pr-4 flex-1">
          <p class="mt-0">For urgent issues</p>
          <a href="tel:311" class="btn block text-center">Call 311</a>
          {{ entry.urgentIssuesDescription }}
        </div>
        <div class="md:pl-4 flex-1">
          <p class="mt-0">For non-urgent issues</p>
          <a href="{{ entry.nonUrgentIssueReportLink.url }}" class="btn block text-center">Report Online</a>
          {{ entry.nonUrgentIssuesDescription }}
        </div>
      </div>
      <h3 class="border-t border-celeste pt-8">Report a Problem</h3>
      {{ entry.body }}
      {% if entry.androidDownloadLink | length or entry.appStoreDownloadLink | length %}
        <div class="my-8">
          <a href="{{ entry.appStoreDownloadLink }}">
            {{ craft.inlin.er('/assets/img/badge-apple-store.svg') | replace('<svg ', '<svg class="h-8 sm:h-16" ') | raw }}
          </a>
          <a href="{{ entry.androidDownloadLink }}">
            {{ craft.inlin.er('/assets/img/badge-google-play.svg') | replace('<svg ', '<svg class="h-8 sm:h-16" ') | raw }}
          </a>
        </div>
      {% endif %}
      <div class="my-8">
        {{ entry.codeInsertion | raw }}
      </div>
    </div>
  </section>
  <section class="bg-white">
    <div class="container mx-auto px-8 py-16">
      {% include '_partials/_elements/_module-header' with {
        headerText: pageLocationHeaderText ?? "Contact Us",
      } %}
      <div class="lg:flex mt-4">
        <div class="flex-1">
          {% if entry.emailAddress | length %}
            <h3 class="text-2xl mb-0">Email Address</h3>
            <p>
              <a href="mailto:{{ entry.emailAddress }}">{{ entry.emailAddress }}</a>
            </p>
          {% endif %}
          {% if entry.phoneNumbers | length %}
            <h3 class="text-2xl mb-0">Phone Numbers</h3>
            <ul class="list-reset mb-8">
              {% for phone in entry.phoneNumbers.all() %}
                {% include '_partials/_elements/_phone-numbers' %}
              {% endfor %}
            </ul>
          {% endif %}
          {% include '_partials/_elements/_social-media' %}
        </div>
        <div class="flex-1">
          {% if entry.androidDownloadLink | length or entry.appStoreDownloadLink | length %}
            <h3 class="text-2xl mb-0">Mobile</h3>
            <p>Use the OAK311 App:</p>
            <div class="mb-8">
              <a href="{{ entry.appStoreDownloadLink }}">
                {{ craft.inlin.er('/assets/img/badge-apple-store.svg') | replace('<svg ', '<svg class="h-8 sm:h-12" ') | raw }}
              </a>
              <a href="{{ entry.androidDownloadLink }}">
                {{ craft.inlin.er('/assets/img/badge-google-play.svg') | replace('<svg ', '<svg class="h-8 sm:h-12" ') | raw }}
              </a>
            </div>
          {% endif %}
          <h3 class="text-2xl mb-0">Online</h3>
          <p><a href="https://311.oaklandca.gov">https://311.oaklandca.gov</a></p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
