{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var entry \craft\elements\Entry #}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta
    content="ie=edge" http-equiv="X-UA-Compatible">
    {# Calls in the SEOmatic tags, all handled through the CMS settings #}
    {% hook 'seomaticRender' %}

    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700|Noto+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
    {{ craft.twigpack.includeCssModule("/css/app.css") }}
  </head>

  {# Checks if the URI is empty and if not, adds the class of “home” to the page body. #}
  {% if not craft.app.request.segments() %}
    {% set pageClass = "home" %}
  {% endif %}

  {# We’re setting the class to overflow-x-hidden to prevent content from stretching page width on mobile views.#}
  {# Sets the navigation to the nav section entry, “Main Nav” #}
  {% set mainNav = craft.entries.section('navigation').slug('main-nav').one() %}
  <body class="overflow-x-hidden {{ pageClass ?? '' }}">
    {% include '_partials/_elements/_mobile-nav-bar' %}
    <div class="page-holder">
      {% include '_partials/_elements/_nav-bar' %}
      <main>
        {% if craft.app.request.segments() %}
          {% include '_partials/_elements/_page-alert' %}
        {% endif %}
        {% block content %}
          <div class="container">
            <p>No content has been added to this layout. Please make sure to include the following in your template:</p>
            <pre class="bg-astronaut text-celeste whitespace-pre-line p-4 inline-block">{% verbatim %}
            {% block content %}
            {% endblock %}{% endverbatim %}
          </div>
        {% endblock %}
      </main>
      {% include '_partials/_elements/_footer' %}
    </div>
    {{ craft.twigpack.includeJsModule("/js/manifest.js") }}
    {{ craft.twigpack.includeJsModule("/js/vendor.js") }}
    {{ craft.twigpack.includeJsModule("/js/app.js") }}
    {# TODO: Move this into GTM instead of here. #}
    {% if craft.app.env == "production" %}
      {% js %}
      <!-- Hotjar Tracking Code for www.oaklandca.gov -->
      (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:1282651,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
              })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
      {% endjs %}
    {% endif %}
  </body>
</html>
{% if section is defined and slug is defined %}
  {% set facetItem = craft.entries.section(section).slug(slug).one().title %}
  {% js at head %}
  var section = "{{ section }}";
      var entryTitle = "{{ facetItem }}";
  {% endjs %}
{% endif %}
