{% extends '_layout' %}

{% block content %}
  <div class="banner banner-home sm:pt-52">
    <div class="container mx-auto p-8 py-16">
      <img class="banner-image" src="{{ entry.banner.one.url }}" alt="Photo: Grammy winner Fantastic Negrito courtesy of Oakland First Fridays">
      <h1 class="font-bold">Welcome to Oakland</h1>
      <p>The official website for the City of Oakland.<br>
      <b><a class="text-white" href="/topics/oaklandlovelife">#OaklandLoveLife</a></b></p>
      <form action="{{ url('search') }}">
        <div class="max-w-md sm:flex">
          <input type="search" class="w-full mb-0 p-4 border-shark border rounded-none appearance-none sm:flex-1" name="keywords" placeholder="How can we help?" value="">
          <button type="submit" class="w-full btn border-l-0 border-shark border sm:w-auto">Search</button>
        </div>
      </form>
    </div>
  </div>
  {% include '_partials/_elements/_page-alert' %}

  {# Begin News #}
  <section class="bg-rotate">
    <div class="container mx-auto p-8 py-12">
      {% include '_partials/_elements/_module-header' with {
        headerText: "News & Updates",
        linkText: "Newsroom",
        linkUrl: "/departments/media-center"
      } %}
      <div class="news-grid md:flex mt-8">
        {% if entry.highlightedNews.exists() %}
          {% set featuredNews = entry.highlightedNews.one() %}
        {% else %}
          {% set featuredNews = craft.entries()
            .section('news')
            .search('featureOnHomepage:1')
            .newsImage(':notempty:')
            .after('2017-10-01')
            .orderBy('RAND()')
            .one() %}
        {% endif %}

        {% set featuredNewsId = featuredNews.id ?? '' %}
        <article class="featured-news md:w-2/3 md:mr-8">
          {% if featuredNews.newsImage | length %}
            <figure>
              <img class="block" src="{{ featuredNews.newsImage.one.url }}">
            </figure>
          {% endif %}
          <p class="my-4 text-camouflage-green">{{ featuredNews.postDate | date('M j, Y') }}</p>
          <h2 class="my-0 leading-tight text-xl md:text-2xl"><a href="{{ featuredNews.url }}">{{ featuredNews.title }}</a></h2>
          {{ featuredNews.summary | md }}
        </article>
        <div class="other-news md:w-1/3">
          {% for entry in craft.entries.section('news').id('not ' ~ featuredNewsId).featureOnHomepage(true).limit(5).all() %}
            <article class="py-6 border-b border-celeste{% if loop.last %} border-none{% endif %}">
              <h2 class="my-0 text-lg leading-normal"><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
              <p class="mt-4 mb-0 text-sm text-camouflage-green">{{ entry.postDate | date('M j, Y') }}</p>
            </article>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  {% if entry.highlightedServices | length %}
    {# Begin Services #}
    <section class="bg-rotate relative z-0">
      <div class="container mx-auto p-8 py-12">
        {% include '_partials/_elements/_module-header' with {
          headerText: "Most Requested Services",
          linkText: "Services A - Z",
          linkUrl: "/services/"
        } %}
        <div class="card-grid grid-equal-height mt-8">
          {% for entry in entry.highlightedServices.all() %}
            {% include '_partials/_elements/_title-cards' %}
          {% endfor %}
        </div>
      </div>
    </section>
    {# End Services #}
  {% endif %}

  {# Begin Events #}
  <section class="bg-rotate">
    <div class="container mx-auto p-8">
      {% include '_partials/_elements/_module-header' with {
        headerText: "Upcoming Events",
        linkText: "All Meetings & Events",
        linkUrl: "/events"
      } %}
      <div class="card-grid vertical-cards mt-8">
        {% set options = {
          calendar: "events",
          limit: 3,
          featureOnHomepage: true,
          rangeStart: now | date('Y-m-d'),
        } %}
        {% for entry in craft.calendar.events(options).all() %}
          {% include '_partials/_elements/_vertical-cards' with {
            title: entry.title,
            url: entry.url,
            icon: 'calendar',
            photo: entry.eventImage.one,
            byline: entry.startDate.format("M d, Y"),
            body: entry.body | chop(limit=50, unit='w', append='…')
          } %}
        {% endfor %}
      </div>
    </div>
  </section>
  {# End Events #}

  {# Begin Departments #}
  <section class="bg-rotate relative z-0">
    <div class="container mx-auto p-8 py-12">
      {% include '_partials/_elements/_module-header' with {
        headerText: "Departments",
        linkText: "All Departments",
        linkUrl: "/departments"
      } %}
      <div class="card-grid card-department-grid grid-equal-height mt-8">
        {% for entry in entry.highlightedDepartments.all() %}
          {% include '_partials/_elements/_photo-cards' with {
            title: entry.title,
            photo: entry.banner.one,
            url: entry.redirectUrl ?? entry.url ?? ''
          } %}
        {% endfor %}
      </div>
    </div>
  </section>
  {# End Departments #}

  {# Begin Officials #}
  <section class="bg-rotate">
    <div class="container mx-auto p-8">
      {% include '_partials/_elements/_module-header' with {
        headerText: "City Officials",
        linkText: "Find Your Council District",
        linkUrl: "http://gisapps.mapoakland.com/councildistricts/",
        buttonBright: true
      } %}
      <div class="card-grid grid-equal-height profile-cards mt-12">
        {% for entry in craft.entries.section('officials').all() %}
          {% include '_partials/_elements/_profile-cards' with {
            photo: entry.portrait.one,
            name: entry.groupHeadName,
            jobTitle: entry.title,
            url: entry.redirectUrl ?? entry.url ?? ''
          } %}
        {% endfor %}
      </div>
    </div>
  </section>
  {# End Officials #}
{% endblock %}
