{% extends '_layout.twig' %}
{% set bannerImage = entry.banner %}

{% block content %}
  <div class="relative banner banner-home">
    {% include "_partials/_elements/_banner-google-translate.twig" %}
    <div class="container text-green-600">
      <div class="relative z-10 max-w-md p-6 mb-32 bg-white rounded-sm o-1 md:mt-12 md:mb-24 font-heading">
        <h1 class="font-extrabold leading-tight text-xxxxl"><span class="block mb-3 text-xl uppercase">Important </span>Stay at home. Do your part to flatten the curve.</h1>
        <p class="my-0">
          <b><a class="text-green-300" href="/topics/covid-19" class="">Get information & resources »</a></b>
        </p>
      </div>
      <img 
        class="absolute inset-0 z-0 object-cover w-full h-full" 
        src="{{ bannerImage.one.url }}" 
        style="object-position:{{ bannerImage.one.getFocalPoint('asCss') }};" 
        alt="{{ bannerImage.one.title }}">
      <form action="{{ url('search') }}">
        <label for="home-search" class="hidden-visually">How can we help you today?</label>
        <div class="relative z-0 flex max-w-md text-green-300 shadow">
          <input type="search" id="home-search" class="z-10 flex-1 w-full p-4 mb-0 text-sm leading-none text-gray-500 rounded-sm rounded-r-none appearance-none md:text-lg" aria-label="Site Search" name="query" placeholder="How can we help you?" value="">
          <button type="submit" class="relative z-10 flex items-center justify-center px-4 rounded-l-none btn">
            <span class="hidden-visually">
              Search
            </span>
            {{ craft.inlin.er('/assets/img/icon-magnifier.svg') | replace('<svg ', '<svg class="z-20 w-auto h-auto fill-current" ') | raw }}
          </button>
        </div>
      </form>
    </div>
  </div>

  {# Begin Services #}
  {# {% if entry.highlightedServices | length %}
    <section class="bg-rotate">
      <div class="container">
        {% include '_partials/_elements/_module-header.twig' with {
          headerText: "Services",
        } %}
        <div class="card-grid card-grid-tight">
          {% for entry in entry.highlightedServices.all() %}
            <a href="{{ entry.url }}" class="section-box">{{ entry.title | raw }}</a>
          {% endfor %}
        </div>
        {% include "_partials/_elements/_module-readmore.twig" with {
          linkUrl: "/services",
          linkText: "All Services"
        } %}
      </div>
    </section>
  {% endif %} #}
  {# End Services #}

  {% if entry.cityServicesAndResourcesUpdates | length %}
    <section class="bg-rotate">
      <div class="container">
        {% include '_partials/_elements/_module-header.twig' with {
          headerText: "City Service and Resource Updates",
        } %}
        <div class="flex flex-col md:flex-row md:mt-8">
          <div class="md:w-64 md:border-r-2 md:border-gray-300 md:pr-8 md:mr-8 | lg:w-1/4">
            {{ entry.cityServicesAndResourcesUpdatesDescription }}
            <a href="/services" class="btn md:w-full">See all services</a>
          </div>
          <div class="flex-1 text-base">
            <ul>
            {% for block in entry.cityServicesAndResourcesUpdates.all() %}
              <li class="mb-2">
                <a class="text-green-300 underline hover:text-green-500" href="{{ block.destination.url }}">{{ block.destination.text }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {# Begin News #}
  <section class="bg-rotate">
    <div class="container">
      <div class="md:flex">
        <div class="md:border-gray-400 md:border-r md:pr-10 md:w-1/2 lg:w-2/3">
          {% include '_partials/_elements/_module-header.twig' with {
            headerText: "News & Updates",
          } %}
          <div class="mt-8 lg:flex lg:flex-col">
            {% if entry.highlightedNews.exists() %}
              {% set featuredNews = entry.highlightedNews.one() %}
            {% else %}
              {% set featuredNews = craft.entries()
                .section('news')
                .search('featureOnHomepage:1')
                .newsImage(':notempty:')
                .after('2019-10-01')
                .orderBy('RAND()')
                .one() %}
            {% endif %}
            <article class="lg:flex lg:flex-row">
              <figure class="relative z-0 flex items-center justify-center h-48 p-4 bg-gray-300 lg:w-2/5">
                {% if featuredNews.newsImage | length %}
                  <img class="absolute inset-0 object-cover w-full h-full" src="{{ featuredNews.newsImage.one.url }}" alt="{{ featuredNews.newsImage.title }}"> 
                {% else %}
                  <div class="w-full h-full px-12 py-6 text-gray-400 opacity-75 fill-current">
                    {{ craft.inlin.er('/assets/img/icon-newspaper.svg') | replace('<svg ', '<svg class="w-32 h-32" ') | raw }}
                  </div>
                {% endif %}
              </figure>
              <div class="flex-1 lg:pl-12 o-3">
                <date class="block my-4 text-sm tracking-widest text-gray-400 uppercase lg:mt-0">{{ featuredNews.postDate | date('M j, Y') }}</date>
                <h3 class="my-0 text-xl font-semibold leading-tight md:text-xxl"><a href="{{ featuredNews.url }}">{{ featuredNews.title }}</a></h3>
                {{ featuredNews.summary | md }}
              </div>
            </article>
            {% set featuredNewsId = featuredNews.id ?? '' %}
            {% set otherFeaturedNews = craft.entries.section('news').id('not ' ~ featuredNewsId).featureOnHomepage(true).limit(4).all() %}
            {% if otherFeaturedNews | length %}
              <h2 class="mb-0 text-lg">More News</h2>
            {% endif %}
            {% for entry in otherFeaturedNews %}
              <article class="my-3">
                <h3 class="my-0 text-base font-normal font-body">
                  <a class="flex-1 hover:underline" href="{{ entry.url }}">{{ entry.title }}</a>
                </h3>
              </article>
            {% endfor %}
          </div>
          {% include "_partials/_elements/_module-readmore.twig" with {
            linkUrl: "/departments/media-center",
            linkText: "Newsroom"
          } %}
        </div>
        <div class="mt-8 md:mt-0 md:border-gray-400 md:border-l md:pl-10 md:w-1/2 lg:w-1/3">
          {% include '_partials/_elements/_module-header.twig' with {
            headerText: "Upcoming Events",
          } %}
          {% set options = {
            calendar: "events",
            limit: 1,
            featureOnHomepage: true,
            rangeStart: now | date('Y-m-d'),
          } %}
          {% set event = craft.calendar.events(options).one() %}
          {% if event | length %}
            {% set title = event.title %}
            {% set url = event.url %}
            {% set icon = 'calendar' %}
            {% set photo = event.eventImage.one ?? '' %}
            {% set byline = event.startDate.format("M d, Y") %}
            {% set body = event.body | chop(limit=25, unit='w', append='…') %}
            <article class="mt-8">
              <figure class="relative z-0 flex items-center justify-center w-full h-48 p-4 bg-gray-300">
                {% if photo | length %}
                  <img src="{{ photo.url }}" class="absolute inset-0 object-cover w-full h-full" alt="{{ photo.altText ?? ''}}">
                {% elseif icon is defined %}
                  <div class="h-full p-12 text-gray-400 opacity-75 fill-current">
                    {{ craft.inlin.er('/assets/img/icon-' ~ icon ~ '.svg') | replace('<svg ', '<svg class="h-full" ') | raw }}
                  </div>
                {% endif %}
              </figure>
              <div class="mt-4 text-base text-gray-400">{{ byline }}</div>
              <h3 class="mt-4 text-xl font-semibold md:text-xxl">
                <a href="{{ url }}">{{ title }}</a>
              </h3>
              <div class="mt-4 overflow-x-hidden text-gray-700">
                {{ body }}
              </div>
            </article>
          {% else %}
            <h3 class="mt-4 text-xl md:text-xxl">
              Stay tuned
            </h3>
            <div class="mt-4 text-gray-700">
              <p>There are no upcoming events at this time.</p>
            </div>
          {% endif %}
          {% include "_partials/_elements/_module-readmore.twig" with {
            linkUrl: "/events",
            linkText: "All Events"
          } %}
        </div>
      </div>
    </div>
  </section>

  {% if entry.learnMoreAbout | length %}
    <section class="bg-rotate">
      <div class="container">
        {% include '_partials/_elements/_module-header.twig' with {
          headerText: "Learn More About",
        } %}
        <div class="card-grid card-grid-2up">
          {% for entry in entry.learnMoreAbout.all() %}
            <a href="{{ entry.url }}" class="section-box">{{ entry.title | raw }}</a>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}

  {# Begin Officials #}
  <section class="bg-rotate">
    <div class="container">
      {% include '_partials/_elements/_module-header.twig' with {
        headerText: "City Officials",
      } %}
      <div class="mt-12 card-grid grid-equal-height profile-cards">
        {% for entry in craft.entries.section('officials').all() %}
          {% include '_partials/_elements/_profile-cards.twig' with {
            photo: entry.portrait.one,
            name: entry.groupHeadName,
            jobTitle: entry.title,
            url: entry.redirectUrl ?? entry.url ?? ''
          } %}
        {% endfor %}
      </div>
      {% include "_partials/_elements/_module-readmore.twig" with {
        linkUrl: "http://gisapps.mapoakland.com/councildistricts",
        linkText: "Find your council district"
      } %}
    </div>
  </section>
  {# End Officials #}
{% endblock %}
