{% extends '_layout.twig' %}
{% do craft.app.elements.eagerLoadElements(
    className(entry),
    [entry],
    [
      'banner',
      'cityServicesAndResourcesUpdates',
      'highlightedNews',
      'learnMoreAbout',
      'highlightedNews.newsImage'
    ]
) %}
{% set bannerImage = entry.banner[0] ?? "" %}
{% set cityServices = entry.cityServicesAndResourcesUpdates %}
{% set hlNews = entry.highlightedNews %}
{% set learnMore = entry.learnMoreAbout %}

{% block content %}
  <div class="relative banner home-banner">
    <div class="md:absolute md:inset-0 md:w-full md:h-full">
      <div class="container relative z-10 h-full text-green-1000">
        <div class="flex items-center h-full">
          <div>
            <div class="mt-12 mb-4">
              {% include "_partials/_elements/_banner-google-translate.twig" with { paddingTop: "pt-0" } %}
            </div>
            <div class="relative z-20 max-w-md p-6 bg-white rounded-md shadow">
              <h1 class="mt-0 mb-4 text-2xl font-extrabold leading-tight lg:text-3xl"><span class="block mb-3 text-xl uppercase">Your actions save lives.</span> Wear a mask, wash your hands, keep your distance.</h1>
              <p class="my-0 leading-tight">
                <b><a class="text-green-600" href="/topics/covid-19" class="">Get information & resources »</a></b>
              </p>
            </div>
          </div>
        </div>
      </div>
      <img
        class="absolute inset-0 z-0 object-cover w-full h-full"
        src="{{ bannerImage.url }}"
        style="object-position:{{ bannerImage.getFocalPoint('asCss') }};"
        alt="{{ bannerImage.title }}">
    </div>
  </div>

  {% if cityServices | length %}
    <section class="bg-rotate">
      <div class="container">
        {% include '_partials/_elements/_module-header.twig' with {
          headerText: "City Service and Resource Updates",
        } %}
        <div class="flex flex-col md:flex-row md:mt-8">
          <div class="md:w-64 md:border-r-2 md:border-gray-300 md:pr-8 md:mr-8 | lg:w-1/4">
            {{ entry.cityServicesAndResourcesUpdatesDescription }}
            <a href="/services" class="btn md:w-full">See all services</a>
          </div>
          <div class="flex-1 text-base">
            <ul>
            {% for block in cityServices %}
              <li class="mb-2">
                <a class="text-green-600 underline hover:text-green-900" href="{{ block.destination.url }}">{{ block.destination.text }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {# Begin News #}
  <section class="bg-rotate">
    <div class="container">
      <div class="md:flex">
        <div class="md:border-gray-500 md:border-r md:pr-10 md:w-1/2 lg:w-2/3">
          {% include '_partials/_elements/_module-header.twig' with {
            headerText: "News & Updates",
          } %}
          <div class="mt-8 lg:flex lg:flex-col">
            {% if hlNews | length %}
              {% set featuredNews = hlNews[0] %}
            {% else %}
              {% set featuredNews = craft.entries
                .section('news')
                .featureOnHomepage(true)
                .newsImage(':notempty:')
                .orderBy('postDate desc')
                [0] %}
            {% endif %}
            {% set featuredImage = featuredNews.newsImage[0] ?? "" %}
            <article class="lg:flex lg:flex-row">
              <figure class="relative z-0 flex items-center justify-center h-48 p-4 bg-gray-300 lg:w-2/5">
                {% if featuredImage | length %}
                  <img class="absolute inset-0 object-cover w-full h-full" src="{{ featuredImage.url }}" alt="{{ featuredImage.title }}">
                {% else %}
                  <div class="w-full h-full px-12 py-6 text-gray-500 opacity-75 fill-current">
                    {{ craft.inlin.er('/assets/img/icon-newspaper.svg') | replace('<svg ', '<svg class="w-32 h-32" ') | raw }}
                  </div>
                {% endif %}
              </figure>
              <div class="flex-1 lg:pl-12">
                <date class="block my-4 text-sm tracking-widest text-gray-500 uppercase lg:mt-0">{{ featuredNews.postDate | date('M j, Y') }}</date>
                <h3 class="my-0 text-xl font-semibold leading-tight md:text-2xl"><a href="{{ featuredNews.url }}">{{ featuredNews.title }}</a></h3>
                {{ featuredNews.summary | md }}
              </div>
            </article>
            {% set featuredNewsId = featuredNews.id ?? '' %}
            {% set otherFeaturedNews = craft.entries.section('news').id('not ' ~ featuredNewsId).featureOnHomepage(true).limit(4).all() %}
            {% if otherFeaturedNews | length %}
              <h2 class="mt-4 mb-0 text-lg">More News</h2>
            {% endif %}
            {% for entry in otherFeaturedNews %}
              <article class="my-3">
                <h3 class="my-0 text-base font-normal">
                  <a class="flex-1 hover:underline" href="{{ entry.url }}">{{ entry.title }}</a>
                </h3>
              </article>
            {% endfor %}
          </div>
          {% include "_partials/_elements/_module-readmore.twig" with {
            linkUrl: "/departments/media-center",
            linkText: "Newsroom"
          } %}
        </div>
        <div class="flex items-stretch mt-8 md:mt-0 md:border-gray-500 md:border-l md:pl-10 md:w-1/2 lg:w-1/3">
          <div class="block w-full md:oak-hidden"><a class="twitter-timeline" data-height="400px" data-width="100%" href="https://twitter.com/Oakland/lists/official-agencies?ref_src=twsrc%5Etfw">A Twitter List by Oakland</a></div>
          <div class="w-full oak-hidden md:block"><a class="twitter-timeline" data-height="100%" data-width="100%" href="https://twitter.com/Oakland/lists/official-agencies?ref_src=twsrc%5Etfw">A Twitter List by Oakland</a></div><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </section>

  {% if learnMore | length %}
    <section class="bg-rotate">
      <div class="container">
        {% include '_partials/_elements/_module-header.twig' with {
          headerText: "Learn More About",
        } %}
        <div class="card-grid card-grid-2up">
          {% for entry in learnMore %}
            <a href="{{ entry.url }}" class="section-box">{{ entry.title | raw }}</a>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}

  {# Begin Officials #}
  <section class="bg-rotate">
    <div class="container">
      {% include '_partials/_elements/_module-header.twig' with {
        headerText: "City Officials",
      } %}
      <div class="mt-12 card-grid grid-equal-height profile-cards">
        {% for entry in craft.entries.section('officials').with(['portrait']).all() %}
          {% set portrait = entry.portrait[0] ?? "" %}
          {% include '_partials/_elements/_profile-cards.twig' with {
            photo: portrait,
            name: entry.groupHeadName,
            jobTitle: entry.title,
            url: entry.redirectUrl ?? entry.url ?? '',
            icon: "user"
          } %}
        {% endfor %}
      </div>
      {% include "_partials/_elements/_module-readmore.twig" with {
        linkUrl: "http://gisapps.mapoakland.com/councildistricts",
        linkText: "Find your council district"
      } %}
    </div>
  </section>
  {# End Officials #}
{% endblock %}
