{% extends '_layout' %}
{% set bannerImage = entry.banner %}

{% block content %}
  <div class="banner banner-home md:pt-32 lg:pt-32">
    <div class="container mx-auto p-8 py-16">
      <img class="banner-image image-blur-{{ bannerImageBlur ?? 'none' }}" src="{{ bannerImage.one.url }}" style="object-position:{{ bannerImage.one.getFocalPoint('asCss') }};" alt="{{ bannerImage.one.title }}">
      <div class="relative z-20">
        <h1 class="font-bold text-2xl sm:text-5xl md:text-6xl mb-0">Welcome to Oakland</h1>
        <p class="font-bold text-sm font-sans uppercase mt-0">The official website for the City of Oakland. <b><a class="text-reef hover:text-fun-green" href="/topics/oaklandlovelife">#OaklandLoveLife</a></b></p>
      </div>
      <form action="{{ url('search') }}">
        <label for="home-search" class=" text- hidden-visually">How can we help?</label>
        <div class="max-w-lg sm:flex shadow relative text-tundora">
          {{ craft.inlin.er('/assets/img/icon-magnifier.svg') | replace('<svg ', '<svg class="absolute pin-l p-3 absolute w-12 h-half sm:h-full fill-current" ') | raw }}
          <input type="search" id="home-search" class="w-full mb-0 p-4 pl-12 rounded-none rounded-t-sm appearance-none sm:flex-1 sm:rounded-sm sm:rounded-r-none" name="query" placeholder="How can we help?" value="">
          <button type="submit" class="w-full btn border-l-0 sm:w-auto btn-flat-t sm:btn-rounded sm:btn-flat-l">Search</button>
        </div>
      </form>
    </div>
  </div>
  {% include '_partials/_elements/_page-alert' %}

  {# Begin Services #}
  {% if entry.highlightedServices | length %}
    <section class="bg-rotate relative z-0">
      <div class="container mx-auto p-8 py-12">
        {% include '_partials/_elements/_module-header' with {
          headerText: "Most Requested Services",
          linkText: "Services A - Z",
          linkUrl: "/services/"
        } %}
        <div class="card-grid grid-equal-height mt-8">
          {% for entry in entry.highlightedServices.all() %}
            {% include '_partials/_elements/_title-cards' %}
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
  {# End Services #}

  {# Begin News #}
  <section class="bg-rotate">
    <div class="container mx-auto p-8 py-12">
      {% include '_partials/_elements/_module-header' with {
        headerText: "News & Updates",
        linkText: "Newsroom",
        linkUrl: "/departments/media-center"
      } %}
      <div class="news-grid md:flex mt-8">
        {% if entry.highlightedNews.exists() %}
          {% set featuredNews = entry.highlightedNews.one() %}
        {% else %}
          {% set featuredNews = craft.entries()
            .section('news')
            .search('featureOnHomepage:1')
            .newsImage(':notempty:')
            .after('2017-10-01')
            .orderBy('RAND()')
            .one() %}
        {% endif %}

        {% set featuredNewsId = featuredNews.id ?? '' %}
        <article class="featured-news md:w-1/2 md:mr-8">
          {% if featuredNews.newsImage | length %}
            <figure>
              <img class="block" src="{{ featuredNews.newsImage.one.url }}" alt="{{ featuredNews.newsImage.title }}">
            </figure>
          {% endif %}
          <p class="my-4 text-sm tracking-wide font-sans uppercase text-camouflage-green">{{ featuredNews.postDate | date('M j, Y') }}</p>
          <h2 class="my-0 leading-tight text-xl md:text-2xl"><a href="{{ featuredNews.url }}">{{ featuredNews.title }}</a></h2>
          {{ featuredNews.summary | md }}
        </article>
        <div class="other-news md:w-1/2">
          {% for entry in craft.entries.section('news').id('not ' ~ featuredNewsId).featureOnHomepage(true).limit(4).all() %}
            <article class="py-6 border-b border-celeste {% if loop.last %} border-none {% endif %}">
              <p class="my-0 text-sm tracking-wide font-sans uppercase text-camouflage-green">{{ entry.postDate | date('M j, Y') }}</p>
              <h2 class="mt-4 mb-0 text-lg leading-normal"><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
            </article>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  {# Begin Events #}
  <section class="bg-rotate">
    <div class="container mx-auto p-8">
      {% include '_partials/_elements/_module-header' with {
        headerText: "Upcoming Events",
        linkText: "All Meetings & Events",
        linkUrl: "/events"
      } %}
      {% set options = {
        calendar: "events",
        limit: 3,
        featureOnHomepage: true,
        rangeStart: now | date('Y-m-d'),
      } %}
      {% set homeEvents = craft.calendar.events(options).all() %}
      {% if homeEvents | length %}
        <div class="card-grid vertical-cards mt-8">
          {% for entry in homeEvents %}
            {% include '_partials/_elements/_vertical-cards' with {
              title: entry.title,
              url: entry.url,
              icon: 'calendar',
              photo: entry.eventImage.one,
              byline: entry.startDate.format("M d, Y"),
              body: entry.body | chop(limit=50, unit='w', append='…')
            } %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>
  {# End Events #}

  {# Begin Officials #}
  <section class="bg-rotate">
    <div class="container mx-auto p-8">
      {% include '_partials/_elements/_module-header' with {
        headerText: "City Officials",
        linkText: "Find Your Council District",
        linkUrl: "http://gisapps.mapoakland.com/councildistricts/",
      } %}
      <div class="card-grid grid-equal-height profile-cards mt-12">
        {% for entry in craft.entries.section('officials').all() %}
          {% include '_partials/_elements/_profile-cards' with {
            photo: entry.portrait.one,
            name: entry.groupHeadName,
            jobTitle: entry.title,
            url: entry.redirectUrl ?? entry.url ?? ''
          } %}
        {% endfor %}
      </div>
    </div>
  </section>
  {# End Officials #}
{% endblock %}
