{% macro buttonTemplate(descriptorText, url, buttonText) %}
  <div>
    <p class="text-sm uppercase tracking-wide">{{ descriptorText }}</p>
    <a aria-label="{{ buttonText }} {{ descriptorText }}" href="{{ url }}" class="btn w-full">{{ buttonText | raw }}</a>
  </div>
{% endmacro %}
{% import _self as macro %}

{% if entry.callToAction | length %}
  <div class="card-grid grid-equal-height mb-16">
    {% for cta in entry.callToAction.all() %}
      {% switch cta.type %}
        {% case "onlineLink" %}
          {{ macro.buttonTemplate(cta.onlineTitle, cta.linkUrl, cta.linkText) }}
        {% case "phoneNumber" %}
          {{ macro.buttonTemplate(cta.phoneNumberTitle, 'tel:' ~ cta.number | replace('/[^0-9]/', ''), cta.number) }}
        {% case "documentLink" %}
          {% set doc = cta.documentLink.one %}
          {{ macro.buttonTemplate(cta.documentLabel ?? doc.title, doc.url ?? '', cta.buttonLabel) }}
        {% case "emailAddress" %}
          {{ macro.buttonTemplate(cta.emailTitle, 'mailto:' ~ cta.emailAddress, cta.linkText) }}
        {% case "physicalAddress" %}
          <div>
            {% set location = cta.streetAddress %}
            <p class="text-sm uppercase tracking-wide">{{ cta.addressTitle }}</p>
            <p>
              {{ location.street1 }}<br>
              {% if location.street2 | length %}
                {{ location.street2 }}<br>
              {% endif %}
              {{ location.city }},
              {{ location.state }}
              {{ location.zip }}
            </p>
            {{ cta.additionalAddressInfo }}
          </div>
        {% default %}
      {% endswitch %}
    {% endfor %}
  </div>
{% endif %}
