{% set footerNav = [
  ['/departments/media-center', 'News & Updates'],
  ['/events', 'Events'],
  ['/departments/media-center', 'News & Updates'],
  ['/events', 'Events'],
  ['/meetings', 'Meetings'],
  ['/officials', 'City Officials'],
  ['/boards-commissions', 'Boards & Commissions'],
  ['/staff', 'Staff Directory'],
  ['/departments', 'Departments'],
  ['/services', 'Services'],
  ['/resources', 'Resources'],
  ['/documents', 'Documents'],
  ['/topics', 'Topics'],
  ['/projects', 'Projects'],
  ['/topics/oaklandlovelife', '#OaklandLoveLife'],
  ['https://www.oaklandlibrary.org/', 'Oakland Library'],
  ['https://www.visitoakland.com/', 'Visit Oakland'],
  ['http://museumca.org/', 'Oakland Museum'],
  ['https://apps.oaklandca.gov/oakapps/', 'OAK Apps'],
  ['http://data.oaklandnet.com/', 'City of Oakland Open Data'],
  ['/resources/city-of-oakland-americans-with-disabilities-act-ada-policies', 'AADA Policies in the City of Oakland'],
  ['/topics/civil-rights-access', 'Civil Rights Policies & Procedures'],
  ['/topics/civil-rights-access', 'Políticas de derechos civiles y Procedimientos'],
  ['/topics/civil-rights-access', '民權政策與程序'],
  ['/services/apply-for-city-of-oakland-and-port-of-oakland-jobs', 'City Jobs']
] %}
{% set seoMaticLinks = seomatic.site.sameAsLinks %}
{% set socialMedia = [
  [ seoMaticLinks.facebook.url, 'facebook.svg', 'Oakland Facebook Page' ],
  [ seoMaticLinks.twitter.url, 'twitter.svg', 'Oakland Twitter Page' ],
  [ seoMaticLinks.instagram.url, 'instagram.svg', 'Oakland Instagram Page' ],
  [ seoMaticLinks.medium.url, 'medium.svg', 'Oakland Medium Page' ] 
] %}
<footer class="bg-green-600 bg-transparent-oakland-roots leading-loose text-base relative text-green-300 overflow-hidden">
  <div class="container relative z-20">
    <div class="sm:flex flex-wrap">
      <div class="sm:flex-1 my-4">
        <ul class="my-0 col-count-2 md:col-count-3">
          {% for navItem in footerNav %}
            <li><a class="text-white hover:text-white hover:underline" href="{{ navItem[0] }}">{{ navItem[1] }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="my-4 sm:w-1/4 leading-normal text-white">
        <div class="mb-4">
          <b>For Maintenance Requests</b><br>
          311 or
          <a class="text-white hover:text-white hover:underline" href="tel:510-615-5566">510-615-5566</a><br>
          Relay Service 711
        </div>
        <div class="mb-4">
          <b>Whistleblower Report</b><br>
          <a class="text-white hover:text-white hover:underline" href="tel:1-888-329-6390">1-888-329-6390</a>
        </div>
        <div>
          <b>Oakland City Hall</b><br>
          1 Frank H. Ogawa Plaza<br>
          Oakland, CA 94612
        </div>
      </div>
    </div>
    <div class="sm:flex flex-wrap mt-4 pt-4 border-t border-white-2">
      <div class="sm:w-1/3">
      </div>
      <div class="sm:w-1/3 flex items-center justify-around">
        {% for socItem in socialMedia %}
          <a href="{{ socItem[0] }}" class="block rounded-full h-12 w-12 flex items-center justify-center bg-white hover:bg-green-300 fill-current trans-fast text-gray-700 hover:text-gray-700">
            {{ craft.inlin.er('/assets/img/logo-' ~ socItem[1]) | replace('<svg ', '<svg class="h-6" ') | raw }}
            <span class="hidden-visually">{{ socItem[2] }}</span>
          </a>
        {% endfor %}
      </div>
      <div class="sm:w-1/3 flex justify-end items-center text-sm text-white">
        ©
        {{ now.date | date('Y') }}
        City of Oakland
      </div>
    </div>
  </div>
</footer>
