<footer class="bg-shark text-white leading-loose text-base font-sans">
  <div class="container">
    <div class="sm:flex flex-wrap">
      <div class="w-full my-4 sm:w-1/2 md:w-1/4">
        <ul class="my-0">
          <li>
            <a class="text-white" href="/officials">City Officials</a>
          </li>
          <li>
            <a class="text-white" href="/departments">Departments</a>
          </li>
          <li>
            <a class="text-white" href="/boards-commissions">Boards & Commissions</a>
          </li>
          <li>
            <a class="text-white" href="/staff">Staff Directory</a>
          </li>
          <li>
            <a class="text-white" href="/services/apply-for-city-of-oakland-and-port-of-oakland-jobs">City Jobs</a>
          </li>
          <li>
            <a class="text-white" href="/documents">Documents</a>
          </li>
        </ul>
      </div>
      <div class="w-full my-4 sm:w-1/2 md:w-1/4">
        <ul class="my-0">
          <li>
            <a class="text-white" href="/services">Services</a>
          </li>
          <li>
            <a class="text-white" href="/resources">Resources</a>
          </li>
          <li>
            <a class="text-white" href="/departments/media-center">News & Updates</a>
          </li>
          <li>
            <a class="text-white" href="/events">Events</a>
          </li>
          <li>
            <a class="text-white" href="/meetings">Meetings</a>
          </li>
          <li>
            <a class="text-white" href="/topics/civil-rights-access">Civil Rights Policies & Procedures</a>
          </li>
        </ul>
      </div>
      <div class="w-full my-4 sm:w-1/2 md:w-1/4">
        <ul class="my-0">
          <li>
            <a class="text-white" href="/topics/oaklandlovelife">#OaklandLoveLife</a>
          </li>
          <li>
            <a class="text-white" href="https://www.oaklandlibrary.org/">Oakland Library</a>
          </li>
          <li>
            <a class="text-white" href="https://www.visitoakland.com/">Visit Oakland</a>
          </li>
          <li>
            <a class="text-white" href="http://museumca.org/">Oakland Museum</a>
          </li>
        </ul>
      </div>
      <div class="w-full my-4 sm:w-1/2 md:w-1/4 leading-normal">
        <div class="mb-4">
          <b>For Maintenance Requests</b><br>
          311 or
          <a class="text-white" href="tel:510-615-5566">510-615-5566</a><br>
          Relay Service 711
        </div>
        <div class="mb-4">
          <b>Whistleblower Report</b><br>
          <a class="text-white" href="tel:1-888-329-6390">1-888-329-6390</a>
        </div>
        <div>
          <b>Oakland City Hall</b><br>
          1 Frank H. Ogawa Plaza<br>
          Oakland, CA 94612
        </div>
      </div>
    </div>
    <div class="sm:flex flex-wrap mt-4 border-t border-white-2">
      <div class="sm:w-1/3">
        <a class="block pt-4 md:pt-8 text-white hover:text-apple fill-current trans-fast" href="/">
          {{ craft.inlin.er('/assets/img/logo-oakland.svg') | replace('<svg ', '<svg class="h-12 md:h-16" ') | raw }}
          <span class="hidden-visually">Home</span>
        </a>
      </div>
      <div class="sm:w-1/3 flex items-center justify-around">
        <a href="{{ seomatic.site.sameAsLinks.facebook.url }}" class="block rounded-full h-12 w-12 flex items-center justify-center bg-white hover:bg-apple fill-current trans-fast text-shark hover:text-shark">
          {{ craft.inlin.er('/assets/img/logo-facebook.svg') | replace('<svg ', '<svg class="h-6" ') | raw }}
          <span class="hidden-visually">Oakland Facebook Page</span>
        </a>
        <a href="{{ seomatic.site.sameAsLinks.twitter.url }}" class="block rounded-full h-12 w-12 flex items-center justify-center bg-white hover:bg-apple fill-current trans-fast text-shark hover:text-shark">
          {{ craft.inlin.er('/assets/img/logo-twitter.svg') | replace('<svg ', '<svg class="h-6" ') | raw }}
          <span class="hidden-visually">Oakland Twitter Page</span>
        </a>
        <a href="{{ seomatic.site.sameAsLinks.instagram.url }}" class="block rounded-full h-12 w-12 flex items-center justify-center bg-white hover:bg-apple fill-current trans-fast text-shark hover:text-shark">
          {{ craft.inlin.er('/assets/img/logo-instagram.svg') | replace('<svg ', '<svg class="h-6" ') | raw }}
          <span class="hidden-visually">Oakland Instagram Page</span>
        </a>
        <a href="{{ seomatic.site.sameAsLinks.medium.url }}" class="block rounded-full h-12 w-12 flex items-center justify-center bg-white hover:bg-apple fill-current trans-fast text-shark hover:text-shark">
          {{ craft.inlin.er('/assets/img/logo-medium.svg') | replace('<svg ', '<svg class="h-6" ') | raw }}
          <span class="hidden-visually">Oakland Medium Page</span>
        </a>
      </div>
      <div class="sm:w-1/3 flex justify-end items-end text-sm">
        ©
        {{ now.date | date('Y') }}
        City of Oakland
      </div>
    </div>
  </div>
</footer>
