{% set footerNav1 = [
  ['/departments/media-center', 'News & Updates'],
  ['/events', 'Events'],
  ['/meetings', 'Meetings'],
  ['/officials', 'City Officials'],
  ['/boards-commissions', 'Boards & Commissions'],
  ['/staff', 'Staff Directory'],
  ['/departments', 'Departments'],
  ['/services', 'Services'],
] %}
{% set footerNav2 = [
  ['/resources', 'Resources'],
  ['/documents', 'Documents'],
  ['/topics', 'Topics'],
  ['/projects', 'Projects'],
  ['/services/apply-for-city-of-oakland-and-port-of-oakland-jobs', 'City Jobs'],
  ['https://www.oaklandlibrary.org/', 'Oakland Library'],
  ['https://www.visitoakland.com/', 'Visit Oakland'],
  ['http://museumca.org/', 'Oakland Museum'],
] %}
{% set footerNav3 = [
  ['https://apps.oaklandca.gov/oakapps/', 'OAK Apps'],
  ['http://data.oaklandnet.com/', 'Open Data'],
  ['/resources/city-of-oakland-americans-with-disabilities-act-ada-policies', 'ADA Policies in the City of Oakland'],
  ['/topics/civil-rights-access', 'Civil Rights Policies & Procedures'],
  ['/topics/civil-rights-access', 'Políticas de derechos civiles y Procedimientos'],
  ['/topics/civil-rights-access', '民權政策與程序'],
  ['https://www.oaklandauditor.com/whistleblower/', 'Whistleblower Program']
] %}
{% set seoMaticLinks = seomatic.site.sameAsLinks %}
{% set socialMedia = [
  [ seoMaticLinks.facebook.url, 'facebook.svg', 'Oakland Facebook Page' ],
  [ seoMaticLinks.twitter.url, 'twitter.svg', 'Oakland Twitter Page' ],
  [ seoMaticLinks.instagram.url, 'instagram.svg', 'Oakland Instagram Page' ]
] %}
<footer class="relative overflow-hidden text-sm leading-loose text-gray-300 lg:text-base bg-gray-1000 bg-transparent-oakland-roots-black">
  <div class="container relative z-20 py-4 sm:py-8">
    <div class="xl:flex xl:justify-between">
      <div class="flex-wrap sm:flex xl:flex-1">
        <div class="sm:flex sm:flex-1">
          <div class="flex justify-between flex-1">
            <ul class="w-1/2 pr-2 mt-0">
              {% for navItem in footerNav1 %}
                <li><a class="text-white hover:text-white hover:underline" href="{{ navItem[0] }}">{{ navItem[1] }}</a></li>
              {% endfor %}
            </ul>
            <ul class="w-1/2 pl-2 mt-0">
              {% for navItem in footerNav2 %}
                <li><a class="text-white hover:text-white hover:underline" href="{{ navItem[0] }}">{{ navItem[1] }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <ul class="mt-0 sm:w-1/2 sm:pl-4">
            {% for navItem in footerNav3 %}
              <li><a class="text-white hover:text-white hover:underline" href="{{ navItem[0] }}">{{ navItem[1] }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="mt-4 mb-8 space-y-4 leading-normal text-white sm:-mx-2 sm:flex xl:block sm:space-y-0 sm:space-x-8 xl:space-y-4 xl:space-x-0">
        <div>
          <b>For Maintenance Requests</b><br>
          311 or
          <a class="text-white hover:text-white hover:underline" href="tel:510-615-5566">510-615-5566</a><br>
          Relay Service 711
        </div>
        <div>
          <b>Oakland City Hall</b><br>
          1 Frank H. Ogawa Plaza<br>
          Oakland, CA 94612
        </div>

        <div>
        <br><a class="text-white hover:text-white hover:underline" href="/topics/oaklandlovelife">#OaklandLoveLife</a>
        </div>
      </div>
    </div>
    <div class="flex-wrap pt-8 mt-4 border-t border-gray-700 sm:flex">
      <div class="sm:w-1/4">
      </div>
      <div class="flex items-center justify-center p-10 sm:w-1/2">
        {% for socItem in socialMedia %}
          <div class="p-4"><a href="{{ socItem[0] }}" class="flex items-center justify-center w-12 h-12 bg-white rounded-full fill-current text-gray-1000 hover:bg-green-600 trans-fast hover:text-gray-1000">
            {{ craft.inlin.er('/assets/img/logo-' ~ socItem[1]) | replace('<svg ', '<svg class="h-6" ') | raw }}
            <span class="hidden-visually">{{ socItem[2] }}</span>
          </a></div>
        {% endfor %}
      </div>
      <div class="flex items-center justify-end mt-4 text-xs sm:w-1/4 sm:mt-0 lg:text-base">
        ©
        {{ now | date('Y') }}
        City of Oakland
      </div>
    </div>
  </div>
</footer>
