<article class="py-8 sm:py-16 horizontal-card{% if not loop.last %} border-celeste border-b-2{% endif %}">
  {% if photo | length %}
    <figure class="bg-white z-0">
      <img src="{{ photo.url }}" class="">
    </figure>
  {% elseif icon is defined %}
    <figure class="h-48 sm:h-64 p-4 bg-celeste relative z-0 flex items-center justify-center">
      <div class="text-camouflage-green opacity-75 fill-current h-full p-12">
        {{ craft.inlin.er('/assets/img/icon-' ~ icon ~ '.svg') | replace('<svg ', '<svg class="h-full" ') | raw }}
      </div>
    </figure>
  {% endif %}
  <div>
    <div class="text-base text-camouflage-green mb-6">{{ byline }}</div>
    <h3 class="text-4xl mt-4"><a href="{{ url }}">{{ title }}</a></h3>
    <p class="text-shark my-4">
      {{ body }}
    </p>
    <div><a href="{{ url }}">Read More »</a></div>
  </div>
</article>
