{% if not craft.app.request.segments() %}
  {% set bgColor = 'bg-transparent' %}
  {% js %}
    window.onscroll = function changeClass(){
      var navBar = document.getElementById('nav-bar');
      var scrollPosY = window.pageYOffset | document.body.scrollTop;
      if(scrollPosY > 1) {
        navBar.classList.add('bg-shark');
        navBar.classList.remove('bg-transparent');
      } else if(scrollPosY <= 100) {
        navBar.classList.add('bg-transparent');
        navBar.classList.remove('bg-shark');
      }
    }
  {% endjs %}
{% else %}
  {% set bgColor = 'bg-shark' %}
{% endif %}
{% set mainNav = craft.entries.section('navigation').slug('main-nav').one() %}

<div class="{{ bgColor }} text-white fixed w-full z-50 trans trans-fast h-40 nav-bar" id="nav-bar">
  <div class="container mx-auto relative h-full">
    <div class="px-8">
      <nav class="flex items-center justify-between">
        <div>
          <a href="/" class="block pt-16 sm:pl-8 mb-8 sm:border-l-2 sm:border-white text-white hover:text-apple fill-current trans-fast">
            {{ craft.inlin.er('/assets/img/logo-oakland.svg') | replace('<svg ', '<svg class="h-8 sm:h-16" ') | raw }}
          </a>
        </div>
        <button id="menu-toggle" class="btn flex lg:hidden -mr-8">Menu</button>
        <ul class="list-reset hidden uppercase flex-1 lg:flex pl-16 xl:pl-32 justify-between text-base">
          {% for nav in mainNav.navBuilder.all() %}
            {% set link = nav.navLink %}
            <li{% if not loop.last %}{% endif %}><a href="{{ link.url }}"{% if link.target | length %} target="{{ link.target }}"{% endif %} class="text-white hover:text-apple trans-fast">{{ link.text }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <div id="google_translate_element" class="absolute pin-b pin-r pb-4 lg:pr-8"></div><script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ceb,en,es,hmn,ja,km,ko,mn,tl,vi,zh-CN', layout: google.translate.TranslateElement.FloatPosition.TOP_RIGHT}, 'google_translate_element');
      }
      </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>
  </div>
</div>

{% js %}
  {% include '_js/navigation.js' %}
{% endjs %}
