{% set contentBuilder = entry.contentBuilder ?? '' %}
{% set customNav = customNav ?? '' %}

{% if contentBuilder | length %}
  {% set sideNavLinks = [] %}
  {% for block in entry.contentBuilder.all() %}
    {% switch block.type %}
      {% case "heading" %}
        {% set sideNavLinks = sideNavLinks | merge([{
          title:  block.text,
          link:  block.text | kebab ~ '-' ~ block.id,
        }]) %}
      {% case "largeEntryLinks" or 
              "mediumEntryLinks" or 
              "smallEntryLinks" or
              "newsEntries" or
              "meetingEntries" or 
              "eventEntries"
      %}
        {% set sideNavLinks = sideNavLinks | merge([{
          title: block.heading,
          link: block.heading | kebab ~ '-' ~ block.id,
        }]) %}
      {% endswitch %}
  {% endfor %}

  {% if leadership ?? '' %}
    {% set sideNavLinks = sideNavLinks | merge([{title: "Leadership", link: "page-leadership"}]) %}
  {% endif %}
  {% if about ?? '' %}
    {% set sideNavLinks = sideNavLinks | merge([{title: "About", link: "page-about"}]) %}
  {% endif %}
  {% if relatedContent ?? '' %}
    {% set sideNavLinks = sideNavLinks | merge([{title: "Related Pages", link: "page-relatedpages"}]) %}
  {% endif %}
  {% if contact ?? '' %}
    {% set sideNavLinks = sideNavLinks | merge([{title: "Contact Us", link: "page-contact"}]) %}
  {% endif %}

  {%- set sideNav -%}
    {% if sideNavLinks | length %}
      <div class="oak-hidden mr-10 w-1/5 lg:w-1/6 md:block font-heading font-bold">
        <ul class="text-sm my-0 o-2">
          {% for item in sideNavLinks %}
            <li>
              <a 
                aria-label="Navigate to {{ item.title }} on this page." 
                href="#{{ item.link }}"
              >{{ item.title }}</a>
            </li>          
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {%- endset -%}
{% elseif customNav %}
  {%- set sideNav -%}
    <div class="oak-hidden mr-10 w-1/6 sm:block font-heading font-bold">
      <ul class="text-sm my-0 o-2">
        {% for item in customNav %}
          <li>
            <a 
              aria-label="Navigate to {{ item.title }} on this page." 
              href="#{{ item.link }}"
            >{{ item.title }}</a>
          </li>          
        {% endfor %}
      </ul>
    </div>
  {%- endset -%}
{% else %}
  {%- set sideNav -%}
    {% if navMenu is defined and navMenu | length %}
      <div class="oak-hidden mr-10 w-1/6 sm:block font-heading font-bold">
        <ul class="text-sm my-0 o-2">
          {% for key,value in navMenu %}
            {% if value %}
              <li>
                <a 
                  aria-label="Featured {{ fullNavMenu[key]['title'] }}" 
                  href="#page-{{ fullNavMenu[key]['url'] }}"
                >{{ fullNavMenu[key]['title'] }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {%- endset -%}
{% endif %}

{{ custSideNav ?? sideNav }}
