{% set contentBuilder = entry.contentBuilder ?? '' %}
{% set customNav = customNav ?? '' %}

{% if contentBuilder | length %}
  {% set sideNavLinks = [] %}
  {% for block in entry.contentBuilder.all() %}
    {% switch block.type %}
      {% case "heading" %}
        {% set sideNavLinks = sideNavLinks | merge([{
          title:  block.text,
          link:  block.text | kebab,
        }]) %}
      {% case "largeEntryLinks" or
              "mediumEntryLinks" or
              "smallEntryLinks" or
              "newsEntries" or
              "meetingEntries" or
              "eventEntries" or
              "linksWithDescriptions" or
              "linkBlocksWithIcons" or
              "linkBlocksWithImages" or
              "statsBlockWithIcons" or
              "textImageBlock" or
              "timeline" or
              "officials"
      %}
        {% if block.heading %}
          {% set sideNavLinks = sideNavLinks | merge([{
            title: block.heading,
            link: block.heading | kebab,
          }]) %}
        {% endif %}
      {% endswitch %}
  {% endfor %}

  {% if leadership ?? '' %}
    {% set sideNavLinks = sideNavLinks | merge([{title: "Leadership", link: "page-leadership"}]) %}
  {% endif %}
  {% if about ?? '' %}
    {% set sideNavLinks = sideNavLinks | merge([{title: "About", link: "page-about"}]) %}
  {% endif %}
  {% if relatedContent ?? '' and not entry.hideRelatedPages %}
    {% set sideNavLinks = sideNavLinks | merge([{title: "Related Pages", link: "page-relatedpages"}]) %}
  {% endif %}
  {% if contact ?? '' %}
    {% set sideNavLinks = sideNavLinks | merge([{title: "Contact Us", link: "page-contact"}]) %}
  {% endif %}

  {%- set sideNav -%}
    {% if sideNavLinks | length %}
      <div class="w-1/5 mr-10 font-bold oak-hidden lg:w-1/6 md:block">
        <ul class="my-0 text-sm">
          {% for item in sideNavLinks %}
            <li>
              <a
                aria-label="Navigate to {{ item.title }} on this page."
                href="#{{ item.link }}"
              >{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {%- endset -%}
{% elseif customNav %}
  {%- set sideNav -%}
    <div class="w-1/6 mr-10 font-bold oak-hidden sm:block">
      <ul class="my-0 text-sm">
        {% for item in customNav %}
          <li>
            <a
              aria-label="Navigate to {{ item.title }} on this page."
              href="#{{ item.link }}"
            >{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {%- endset -%}
{% else %}
  {%- set sideNav -%}
    {% if navMenu is defined and navMenu | length %}
      <div class="w-1/6 mr-10 font-bold oak-hidden sm:block">
        <ul class="my-0 text-sm">
          {% for key,value in navMenu %}
            {% if value %}
              <li>
                <a
                  aria-label="Featured {{ fullNavMenu[key]['title'] }}"
                  href="#page-{{ fullNavMenu[key]['url'] }}"
                >{{ fullNavMenu[key]['title'] }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {%- endset -%}
{% endif %}

{{ custSideNav ?? sideNav }}
