{% set alerts = craft.entries.section("pageAlerts").relatedTo(entry).all() %}
{% for alert in alerts %}
  <div class="rounded border border-{{ alert.alertType }} border-l-8 p-4 mb-8 text-base">
    <p class="font-heading mt-0 uppercase">{{ alert.alertHeading }}</p>
    {{ alert.alertDescription }}
    {% if alert.alertLink %}
      <p class="mt-4 mb-0">
        <a href="{{ alert.alertLink.url }}" class="btn btn-sm text-sm bg-{{ alert.alertType }} hover:bg-{{ alert.alertType }} text-white hover:text-white">{{ alert.alertLink.text }}</a>
      </p>
    {% endif %}
  </div>
{% endfor %}
