{% set alerts = craft.entries.section("pageAlerts").relatedTo(entry ?? event ?? category ?? "").all() %}
{% for alert in alerts %}
  {% switch alert.alertType %}
    {% case "warning" %}
      {% set color = "yellow-600" %}
    {% case "alert" %}
      {% set color = "red-500" %}
    {% default %}
      {% set color = "green-600" %}
  {% endswitch %}

  <div class="rounded border border-{{ color }} border-l-8 p-4 my-4 text-base">
    <p class="mt-0 uppercase">{{ alert.alertHeading }}</p>
    {{ alert.alertDescription }}
    {% if alert.alertLink %}
      <p class="mt-4 mb-0">
        <a href="{{ alert.alertLink.url }}" class="btn btn-sm text-sm bg-{{ color }} hover:bg-{{ color }} text-white hover:text-white">{{ alert.alertLink.text }}</a>
      </p>
    {% endif %}
  </div>
{% endfor %}
