{% if pageInfo.totalPages > 1 %}
  {% spaceless %}
    <div class="pagination my-8 text-base">
      <a class="mr-2" href="{{ pageInfo.firstUrl }}">First</a>
      {% if pageInfo.prevUrl %}<a class="mx-2" href="{{ pageInfo.prevUrl }}">Previous</a>{% endif %}

      <span class="hidden sm:inline">
        {% for page, url in pageInfo.getPrevUrls(5) %}
          <a class="mx-2" href="{{ url }}">{{ page }}</a>
        {% endfor %}

        <span class="mx-2 current">{{ pageInfo.currentPage }}</span>

        {% for page, url in pageInfo.getNextUrls(5) %}
          <a class="mx-2" href="{{ url }}">{{ page }}</a>
        {% endfor %}
      </span>

      {% if pageInfo.nextUrl %}<a class="mx-2" href="{{ pageInfo.nextUrl }}">Next</a>{% endif %}
      <a class="ml-2" href="{{ pageInfo.lastUrl }}">Last</a>
    </div>
  {% endspaceless %}
{% endif %}