<li>
  {% switch phone.type %}
    {% case "other" %}
      {{ phone.numberTitle }}: <a href="tel:{{ phone.number }}">{{ phone.number }}</a>
    {% default %}
      {{ phone.getType().name }}: <a href="tel:{{ phone.number }}">{{ phone.number }}</a>
  {% endswitch %}
</li>
