{% set url = url ?? entry.url ?? '' %}
{% set photo = photo ?? entry.photo.one ?? '' %}
{% set jobTitle = jobTitle ?? entry.jobTitle ?? entry.staffImportJobTitle ?? '' %}
{% set name = name ?? entry.title %}
{% set extraContent = extraContent ?? "" %}
<div class="block">
  <div class="text-gray-700 sm:flex sm:items-start">
    <figure class="block w-1/3 md:w-1/4">
      <a href="{{ url }}" name="{{ name }}" aria-label="{{ name }}">
        {% if photo | length %}
{# TODO: Migrate these settings to be stored as record properties in Algolia #}
{% set transformedImage = craft.imager.transformImage(photo, { width: 150 }, { ratio: 1/1, position: photo.getFocalPoint()},{ fillTransforms: true}) %}
{% set transformedImages = craft.imager.transformImage(photo, [
  { width: 500 },
  { width: 300, jpegQuality: 65 },
  { width: 150, jpegQuality: 65 }
], { ratio: 1/1, position: photo.getFocalPoint()},{ fillTransforms: true}) %}
          <img src="{{ transformedImage.url }}" srcset="{{ transformedImages | srcset }}" alt="Portrait of {{ jobTitle }}, {{ name }}" class="block w-full h-full border-2 rounded-full border-new-gray-200">
        {% else %}
          <div class="h-full text-gray-400 bg-gray-300 rounded-full opacity-75 fill-current">
            {{ craft.inlin.er('/assets/img/icon-' ~ icon ~ '.svg') | replace('<svg ', '<svg class="block h-full" ') | raw }}
          </div>
        {% endif %}
      </a>
    </figure>
    <div class="mt-4 sm:mt-0 sm:pl-6 sm:w-2/3 md:w-3/4">
      <h3 class="m-0 text-base font-semibold md:text-xl">
        <a href="{{ url }}">{{ name }}</a>
      </h3>
      <p class="mt-2 text-sm md:text-base">
        {{ jobTitle }}{{ extraContent ? "<br>" : "" | raw }}
        {{ extraContent }}
      </p>
    </div>
  </div>
</div>
