<article class="overflow-hidden bg-white rounded shadow">
  {% if not photoHide ?? '' %}
    <figure class="relative z-0 flex items-center justify-center w-full p-4 bg-gray-300 pb-3/5">
      {% if photo | length %}
        <img src="{{ photo.url }}" class="absolute inset-0 object-cover w-full h-full aspect-ratio" alt="{{ photo.altText ?? ''}}">
      {% elseif icon is defined %}
        <div class="flex items-center justify-center h-full p-4 text-gray-500 opacity-75 fill-current md:p-8 lg:p-12 aspect-ratio">
          {{ craft.inlin.er('/assets/img/icon-' ~ icon ~ '.svg') | replace('<svg ', '<svg class="h-full" ') | raw }}
        </div>
      {% endif %}
    </figure>
  {% endif %}
  <div class="p-4">
    <div class="mb-2 text-sm text-gray-800 uppercase">{{ byline }}</div>
    <h3 class="mt-0 mb-2 text-lg">
      <a href="{{ url }}" class="line-clamp-3">{{ title }}</a>
    </h3>
    {% if not summaryHide ?? '' %}
      <div class="text-sm text-gray-1000 line-clamp-4">
        {{ body | retcon('attr', '*', { class: 'mt-2 mb-0' })}}
      </div>
    {% endif %}
  </div>
</article>
