{% extends '_layouts/_banner-with-nav' %}
{% set entry = event %}

{% block content %}
  {% block banner %}
    {% include '_partials/_page-banners' with {
      bannerImage: entry.eventImage,
      bannerImageBlur: 'large',
      breadCrumbs: true,
      breadCrumbLinks: [
        {
          title: 'Events',
          link: '/events'
        }
      ],
    } %}
  {% endblock %}
  <section class="bg-white relative z-0">
    <div class="container sm:flex">
      <div class="sm:w-2/3 sm:mr-8">
        {% set startDate = event.startDate %}
        {% set endDate = event.endDate %}
        <div class="text-white bg-shark p-6 md:inline-flex md:items-start">
          <h3 class="my-0 md:mr-8">Event</h3>
          <time datetime="{{ startDate | atom }}">
            <h4 class="font-bold my-0 text-3xl">
              {% for event in event.occurrences %}
                <div>{{ event.startDate.format("F j, Y" )}}</div>
              {% endfor %}
            </h4>
            {% if not event.allDay %}
              <p class="mb-0 text-xl">{{ startDate.format("g:ia") }}
                {% if endDate | length %}
                  —
                  {{ endDate.format("g:ia") }}
                {% endif %}
              </p>
            {% endif %}
          </time>
        </div>
        {% if entry.body | length %}
          <h3>Details</h3>
          {{ entry.body }}
        {% endif %}
        {% if entry.documents.exists() %}
          <h3>Documents</h3>
          <div class="card-grid wide-cards mt-8">
            {% for entry in entry.documents.all() %}
              {% include '_partials/_elements/_title-cards' with {
                cardColor: 'bg-cararra'
              } %}
            {% endfor %}
          </div>
        {% endif %}
        {% if entry.videoLink | length %}
          <h3>Video</h3>
          {% set embed = craft.videoEmbedder.getEmbedUrl(entry.videoLink) %}
          {% if embed | length %}
            <style>
              .embed-container {
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                max-width: 100%;
              }
              .embed-container embed,
              .embed-container iframe,
              .embed-container object {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            </style>
            <div class='embed-container'>
              <iframe src='{{ embed }}' frameborder='0' allowfullscreen="allowfullscreen"></iframe>
            </div>
          {% endif %}
        {% endif %}
        {% if entry.eventContact | length %}
          <h3>Contact</h3>
          {{ entry.eventContact }}
        {% endif %}
      </div>
      <div class="sm:flex-1">
        {% if entry.eventImage.exists() %}
          <figure>
            <img class="w-full block" src="{{ entry.eventImage.one.url }}" alt="{{ entry.title }} Image">
          </figure>
        {% endif %}
        {% if entry.address | length %}
          <h3>Address</h3>
          {% include '_partials/_elements/_address' %}
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}
