{% extends '_layout.twig' %}
{% set pressReleaseImage = entry.pressReleaseImage %}
{% set breadCrumbLinks = [
  {
    title: 'Media Center',
    link: '/media-center'
  },
  {
    title: 'Press Releases',
    link: '/press-releases'
  }
] %}

{% set contentBuilder = entry.contentBuilder | length %}

{% set sideNavLinks = [] %}
{% if contentBuilder | length %}
  {% for block in entry.contentBuilder.all() %}
    {% switch block.type %}
      {% case "heading" %}
        {% set sideNavLinks = sideNavLinks | merge([{
          title:  block.text,
          link:  block.text | kebab ~ '-' ~ block.id,
        }]) %}
      {% case "largeEntryLinks" or "mediumEntryLinks" or "smallEntryLinks" or "newsEntries" or "meetingEntries" or "eventEntries" %}
        {% set sideNavLinks = sideNavLinks | merge([{
          title: block.heading,
          link: block.heading | kebab ~ '-' ~ block.id,
        }]) %}
    {% endswitch %}
  {% endfor %}
{% endif %}

{% block content %}
  <div class="banner leading-none">
    <div class="container pt-2 pb-8 md:pt-4 md:pb-6">
      <div class="absolute inset-0 z-0 bg-transparent-oakland-roots">
      </div>
      <div class="relative z-10 bg-white text-green-400 text-xs md:text-xs rounded-sm px-2 py-1 inline-block shadow">
        <a class="text-green-400 hover:text-green-400 hover:underline" href="/">
          Oakland
        </a> →
        {% for link in breadCrumbLinks ?? '' %}
          <a class="text-green-400 hover:text-green-400 hover:underline" href="{{ link.link }}">{{ link.title }}</a> →
        {% endfor %}
        <span class="font-bold">{{ entry.title }}</span>
      </div>
    </div>
  </div>
  <div class="container sm:flex">
    <div class="flex-1 flex flex-col lg:flex-row">
      <div class="w-full lg:w-2/3">
        <h1 class="text-xxxl md:text-xxxxl font-bold mb-0">{{ entry.title }}</h1>
      </div>
    </div>
  </div>
  <section class="bg-white relative z-0">
    <div class="container md:flex pt-0">
      <div class="md:w-3/4 md:mr-8">
        {% if pressReleaseImage | length %}
{% set image = pressReleaseImage.one() %}
{% set transformedImage = craft.imager.transformImage(image, { width: 320 }, { ratio: 1/1, position: image.getFocalPoint()},{ fillTransforms: true}) %}
{% set transformedImages = craft.imager.transformImage(image, [
  { width: 1400 },
  { width: 912 },
  { width: 528, jpegQuality: 65 }
],{ fillTransforms: true}) %}
          <figure class="max-w-full mb-8">
            <img src="{{ transformedImage.url }}" srcset="{{ transformedImages | srcset }}" sizes="75vw" alt="{{ image.altText ?? ''}}" class="block">
          </figure>
        {% endif %}
        {% include '_partials/_elements/_last-update.twig' %}
        {% include '_partials/_content-builder/_tool.twig' %}
      </div>
      <div class="md:flex-1">
        <h3 class="md:mt-0 mb-2">Media Contact{% if entry.mediaContacts | length > 1%}s{% endif %}</h3>
        {% for contact in entry.mediaContacts.all() %}
          {% set person = contact.staffEntry.one() %}
          {% set phone = contact.phoneNumber ?? person.phoneNumber ?? person.staffImportPhoneNumber %}
          {% set email = contact.emailAddress ?? person.emailAddress ?? person.staffImportEmail %}
          {% set e = email | replace({'@oaklandnet.com': '@oaklandca.gov'}) %}
          <p>{{ person.title }}<br>
            {{ contact.role }}<br>
            <a href="tel:{{ phone }}">{{ phone }}</a><br>
            <a href="mailto:{{ e }}">{{ e }}
          </p>
        {% endfor %}
        <div class="mb-8">
          <a href="{{ entry.pressRelease.one.url ?? "" }}" class="btn w-full">Download Press Release</a>
        </div>
        {% if sideNavLinks | length %}
          <div>
            <h3 class="mb-2 text-xxl">Post Contents</h3>
            <ul class="text-sm my-0 o-1">
              {% for item in sideNavLinks %}
                <li>
                  <a 
                    aria-label="Navigate to {{ item.title }} on this page." 
                    href="#{{ item.link }}"
                  >{{ item.title }}</a>
                </li>          
              {% endfor %}
            </ul>
          </div>
        {% endif %}        
      </div>
    </div>
  </section>
{% endblock %}
